---
layout: default
Title: Apply for, or renew, a Blue Badge
Breadcrumb1_url: section-parking.html
Breadcrumb1_title: Parking & Travel
---

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
            <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        {{> breadcrumb.lv-two-breadcrumb}}
                    </div>
                </div>
            

    </div>
</div>  

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">{{Title}}</h1>
            <p class="govuk-body-l">You can apply for a Blue Badge online. You will need to send us documents to prove your eligibility and identity, and there is a £10 charge for successful applicants. It can take 6 to 8 weeks for your application to be assessed so you’ll need to apply in advance if you’re renewing.
            </p>
            <p class="govuk-body"><a title="Opens an external website in a new tab or window" target="_blank" href="https://bluebadge.direct.gov.uk/bluebadge/why-are-you-here" role="button" class="govuk-button govuk-button--start">
                Apply for a blue badge</a>
            </p>
            <p class="govuk-body">You can also fill in the form by hand and return it to us by email or post (address listed at top of form), or by visiting a <a href="http://www.bathnes.gov.uk/contact-us/offices-and-one-stop-shops" title="See information on our One Stop Shops">One Stop Shop</a>.</p>
            <p class="govuk-body"><a title="Download the PDF form" target="_blank" href="http://www.bathnes.gov.uk/sites/default/files/sitedocuments/Parking-and-Travel/Blue-Badges/dp_1640_-_blue_badge_application_form_august_2016.pdf" role="button" class="govuk-button">Download form</a></p>
            <h2 class="govuk-heading-l">If your blue badge application was unsuccessful</h2>
            <p class="govuk-body">If your application was unsuccessful, you can ask us to review the decision we made if you think we did not take all the relevant information into account. You can do this in writing and have 28 days from the date on the refusal letter.</p>
            <h2 class="govuk-heading-l">How and where to use your blue badge</h2>
            <p class="govuk-body">You must display your badge clearly on the dashboard and may need to use your clock which should be set at the time you left your vehicle. Your Blue Badge should only be used in vehicles in which you are travelling.</p>
            <h2 class="govuk-heading-l">You can use your Blue Badge throughout Bath and North East Somerset for:</h2>
            <h3 class="govuk-heading-m">Free parking with no time limit</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>On street parking in Pay and Display zones where time is restricted for non-Blue Badge holders</li>
                <li>Advisory disabled persons parking bays</li>
                <li>Resident and business permitted parking zones</li>
                <li>Charlotte Street car park - disabled persons bays located within the Charlotte Street entrance area only</li>
                <li>Bath Park and Ride car parks</li>
            </ul>
            <h3 class="govuk-heading-m">Free parking but time limited</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li>Single and double yellow lines where no loading ban applies (maximum stay of 3 hours).</li>
            </ul>
            <h3 class="govuk-heading-m">Locations where parking charges apply</h3>
            <ul class="govuk-list govuk-list--bullet">
                    <li>All Bath city car parks, except disabled persons bays located within the Charlotte Street entrance area</li>
                    <li>Privately run car parks and parking zones may still charge and you should check signs at the location before leaving your car.</li>
            </ul>
            <br />
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        If your badge is lost or stolen
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body">If you lose your Blue Badge, you’ll need to report it and get a reference number. You can do this online at <a title="Opens an external website in a new tab or window" target="_blank" href="http://www.reportmyloss.com">www.reportmyloss.com</a> or by calling 101. Once you have the refence number you can apply online for a replacement Blue Badge. There will be a £10 charge for replacing Blue Badges.</p>
                    <p class="govuk-body"><a title="Opens an external website in a new tab or window" target="_blank" href="https://bluebadge.direct.gov.uk/bluebadge/why-are-you-here" role="button" class="govuk-button govuk-button--start">
                        Apply for a blue badge</a>
                    </p>
                    <p class="govuk-body">You can also notify us by email or post</p>
                    <p class="govuk-body"><strong>Email:</strong> <a title="Opens a new email in your email software" href="mailto:parking@bathnes.gov.uk?subject=I've lost my blue badge">parking@bathnes.gov.uk</a></p>
                    <p class="govuk-body"><strong>Post:</strong> Parking Services, PO Box 5197, Bath, BA1 0UF</p>        
                </div>
            </details>
            <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Report abuse or misuse of a Blue Badge
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body">Let us know if you think someone is using a Blue Badge they aren’t entitled to, or if they park in a disabled bay when they shouldn’t. You can do this by emailing <a title="Opens a new email in your email software" href="mailto:parking@bathnes.gov.uk?subject=I want to report a blue badge misuse">parking@bathnes.gov.uk</a> or calling <a href="tel:+441225477133">01225 477133</a>.</p>
                        <p class="govuk-body"><strong>If you see someone parked in a bay without a valid blue badge, you’ll need to tell us:</strong></p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>where the vehicle is parked</li>
                            <li>what kind of vehicle it is (make, model, colour)</li>
                            <li>the registration number of the vehicle</li>
                            <li>how often you’ve seen the vehicle in this place</li>
                            <li>a photograph showing the offence</li>
                        </ul>
                        <p class="govuk-body"><strong>If you think a Blue Badge is being misused, you’ll need to tell us:</strong></p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>the person’s name or address if you know it</li>
                            <li>where and when they use the badge</li>
                            <li>what kind of vehicle they use (make, model, colour)</li>
                            <li>the registration number of the vehicle</li>
                            <li>information from the badge if you can see it, such as the serial number and expiry date</li>
                            <li>a photograph showing the offence (if possible)</li>
                        </ul>    
                    </div>
                </details>
                <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Apply for a disabled parking space near your house
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body">If you’re a Blue Badge holder, you can ask us to put white lines for a disabled parking space near your home. The markings are advisory only and do rely on the goodwill of other drivers to leave the bay clear.</p>
                            <p class="govuk-body"><strong>To apply you must meet some criteria:</strong></p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>You must be a current Blue Badge holder</li>
                                <li>You must have a severe mobility issue</li>
                                <li>You must be a car owner/driver or live with a car owner/driver</li>
                                <li>You should not have off-street parking, for example a driveway or garage (if you have these facilities but are unable to use them, please tell us why in your application)</li>
                                <li>Your road should be an adopted public highway; in most cases we cannot install bays on private roads</li>
                            </ul>
                            <p class="govuk-body">You’ll need to complete an application form and will need to provide proof of address and a copy of the vehicle V5C document. Once we have your complete application we’ll let you know our decision in 6 weeks.</p>
                            <p class="govuk-body"><a title="Downloads a PDF form" target="_blank" href="http://www.bathnes.gov.uk/sites/default/files/sitedocuments/Parking-and-Travel/Street-Parking/advisory_disabled_bay_application_form_2016.pdf" role="button" class="govuk-button govuk-button--start">
                                Apply for a disabled parking space</a>
                            </p>
                            <p>Return it to us by email or post (address listed at top of form), or by visiting a <a href="http://www.bathnes.gov.uk/contact-us/offices-and-one-stop-shops" title="See information on our One Stop Shops">One Stop Shop</a>.</p>
                        </div>
                    </details>
      
</div>

    
 
</div>