---
Title: Higher Rate Mobility component of Disability Living Allowance
Breadcrumb1_url: section-parking.html
Breadcrumb1_title: Parking & Travel
Breadcrumb2_url: bus-passes-diamond-travelcard.html
Breadcrumb2_title: Free bus pass (Diamond Travelcard)
---

            <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        {{> breadcrumb.lv-three-breadcrumb}}
                    </div>
                </div>

            <div class="govuk-grid-row"> 
                    <div class="govuk-grid-column-two-thirds">  
                            
                        <h1 class="govuk-heading-xl">{{Title}}</h1>
						<p class="govuk-body-l">You are eligible for a bus pass. You will need to bring <strong>one</strong> of the following: </p>
						<ul class="govuk-list govuk-list--bullet">
								<li>a copy of your entitlement letter (dated within the last 12 months) or;</li>
								<li>a copy of your annual renewal letter if you’ve had the benefit for more than 12 months</li>
							</ul>						
<p class="govuk-body">into one of our <a href="http://www.bathnes.gov.uk/contact-us/offices-and-one-stop-shops">One Stop Shops</a>.</p>
						
						          
        
    </div>

    <div class="govuk-grid-column-one-third">
            <aside class="aside" role="complementary">            
         
        </aside>
    </div>

    
</div>