---
Title: Free bus pass (Diamond Travelcard)
Breadcrumb1_url: section-parking.html
Breadcrumb1_title: Parking & Travel
---

            <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        {{> breadcrumb.lv-two-breadcrumb}}
                    </div>
                </div>

            <div class="govuk-grid-row"> 
                    <div class="govuk-grid-column-two-thirds">  
                            
                        <h1 class="govuk-heading-xl">{{Title}}</h1>
                            

						<p class="govuk-body-l">You’re entitled to a free bus pass if you’re a BANES resident and have reached the qualifying age or have certain disabilities. The bus pass is called a Diamond Travelcard.</p>
 
						<h2 class="govuk-heading-l">How to apply for a bus pass</h2>
						 
						<div class="govuk-grid-row">
						<div class="govuk-grid-column-one-half"><a class="govuk-button govuk-button--start" href="/node/42" role="button">Older person's bus pass</a></div>
						 
						<div class="govuk-grid-column-one-half"><a class="govuk-button govuk-button--start" href="/node/43" role="button">Disabled person's bus pass</a></div>
						</div>
						 
						<details class="govuk-details"><summary class="govuk-details__summary"> <span class="govuk-details__summary-text"> How to use your bus pass </span> </summary>
						 
						<div class="govuk-details__text">You must show your pass to the driver every time you get on a bus. Some bus companies will issue you with a ticket. If so, please keep the ticket until you get off the bus as you may need to show it to an inspector. If you forget to take your pass with you, you must pay the normal fare.</div>
						</details>
						 
						<details class="govuk-details"><summary class="govuk-details__summary"> <span class="govuk-details__summary-text">Where and when you can use your bus pass </span> </summary>
						 
						<div class="govuk-details__text">We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post.</div>
						</details>
						 
						<details class="govuk-details"><summary class="govuk-details__summary"> <span class="govuk-details__summary-text"> If you lose or damage your pass </span> </summary>
						 
						<div class="govuk-details__text">We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post.</div>
						</details>
						 
						<details class="govuk-details"><summary class="govuk-details__summary"> <span class="govuk-details__summary-text"> If your pass is stolen </span> </summary>
						 
						<div class="govuk-details__text">We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post.</div>
						</details>
						 
						<details class="govuk-details"><summary class="govuk-details__summary"> <span class="govuk-details__summary-text"> Help with nationality </span> </summary>
						 
						<div class="govuk-details__text">We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post.</div>
						</details>
						 
						<details class="govuk-details"><summary class="govuk-details__summary"> <span class="govuk-details__summary-text"> Changing the photograph on your bus pass </span> </summary>
						 
						<div class="govuk-details__text">We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post.</div>
						</details>
						 
						<details class="govuk-details"><summary class="govuk-details__summary"> <span class="govuk-details__summary-text"> How to re-apply for an older person’s bus pass when it expires</span> </summary>
						 
						<div class="govuk-details__text">We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post.</div>
						</details>
						 
						<h2 class="govuk-heading-l">What you need to know</h2>
						 
						<ul class="govuk-list govuk-list--bullet">
										<li>If you allow someone else to use your bus pass, it could be withdrawn</li>
										<li>Your bus pass gives you no more rights than any other passenger</li>
										<li>If you move within the council area, tell us your new address as soon as possible</li>
										<li>If you move out of the council area, you’ll need to apply to your new council for a replacement pass</li>
										<li>If you no longer require a pass, please return it to a council One Stop Shop</li>
										<li>If you are applying for several passes on behalf of a group or organisation, you’ll need to make an appointment in advance by emailing <a href="mailto:triage@bathnes.gov.uk&gt;triage@bathnes.gov.uk">triage@bathnes.gov.uk</a></li>
						</ul>

            
    </div>

    <div class="govuk-grid-column-one-third">
            <aside class="aside" role="complementary">            
         
        </aside>
    </div>

    
</div>