---
Title: None of these apply
Breadcrumb1_url: section-parking.html
Breadcrumb1_title: Parking & Travel
Breadcrumb2_url: bus-passes-diamond-travelcard.html
Breadcrumb2_title: Free bus pass (Diamond Travelcard)
---

            <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        {{> breadcrumb.lv-three-breadcrumb}}
                    </div>
                </div>

            <div class="govuk-grid-row"> 
                    <div class="govuk-grid-column-two-thirds">  
                            
                        <h1 class="govuk-heading-xl">{{Title}}</h1>
						
                        <p class="govuk-body-l">If none of these criteria apply then you are not eligible for a disabled person’s bus pass.</p>                        
                                                <h2 class="govuk-heading-l">What are my options?</h2>
                                                <ul class="govuk-list govuk-list--bullet">
                                                    <li>You may want to consider a <a href="http://localhost:3000/parking-travel/community-transport.html">community transport scheme</a></li>
                                                    <li>Depending on your age you may be eligible for an <a href="http://localhost:3000/parking-travel/bus-passes-older-persons.html">older person’s bus pass</a></li>
                                                  </ul>
                                                
                                                
                                                
    </div>

    <div class="govuk-grid-column-one-third">
            <aside class="aside" role="complementary">            
         
        </aside>
    </div>

    
</div>