---
Title: I am medically unfit to drive
Breadcrumb1_url: section-parking.html
Breadcrumb1_title: Parking & Travel
Breadcrumb2_url: bus-passes-diamond-travelcard.html
Breadcrumb2_title: Free bus pass (Diamond Travelcard)
---
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{> breadcrumb.lv-three-breadcrumb}}
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{Title}}</h1>
        <p class="govuk-body-l">You may be eligible for a bus pass if you would be refused a driving licence on medical
            grounds. Reasons for this might include</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Epilepsy</li>
            <li>Severe mental disorder</li>
            <li>Liability to sudden attacks of dizziness or fainting</li>
            <li>Unable to read a number plate in good light at 20.5 metres, with lenses if worn</li>
            <li>You have another disability or condition that would make driving a vehicle a danger to the public</li>
        </ul>
        <p class="govuk-body">You will need to provide evidence from a medical specialist that confirm your condition.
            You may be charged for obtaining this.</p>
        <p class="govuk-body">If the DVLA has revoked your licence on medical grounds you’ll need to provide a copy of
            the letter they sent you.</p>
        <p class="govuk-body">You will need to take your documents into one of our <a href="http://www.bathnes.gov.uk/contact-us/offices-and-one-stop-shops">One
                Stop Shops</a> and we will process your application whilst you wait. </p>
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                People who misuse drugs and alcohol are not eligible for a disabled person’s bus pass
            </strong>
        </div>
        <p><a href="bus-passes-disabled-none.html" class="govuk-button">Back</a></p>
    </div>
    <div class="govuk-grid-column-one-third">
        <aside class="aside" role="complementary">

        </aside>
    </div>
</div>