---
Title: I have a learning disability
Breadcrumb1_url: section-parking.html
Breadcrumb1_title: Parking & Travel
Breadcrumb2_url: bus-passes-diamond-travelcard.html
Breadcrumb2_title: Free bus pass (Diamond Travelcard)
---

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{> breadcrumb.lv-three-breadcrumb}}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">{{Title}}</h1>
        <p class="govuk-body-l">You may be eligible for a bus pass if you meet the definition of learning disability
            used by the Department for Transport (DfT):</p>
        <p class="govuk-inset-text">"A person with a learning disability has a reduced ability to understand new or
            complex information, a difficulty in learning new skills, and may be unable to cope independently. These
            disabilities must have started before adulthood and have a lasting effect on development. The person should
            be able to qualify for specialist services and he or she may have had special educational provision."</p>
        <p class="govuk-body">To prove your eligibility you will need to provide</p>
        <ol class="govuk-list govuk-list--number">
            <li>Confirmation from a medical specialist that you have a learning disability</li>
            <li>A description of the medical condition or learning disability including any medical terms</li>
            <li>Confirmation that the disabilities started before adulthood and have a lasting effect on development</li>
        </ol>
        <p class="govuk-body">You will need to take your documents into one of our <a href="http://www.bathnes.gov.uk/contact-us/offices-and-one-stop-shops">One
                Stop Shops</a> and we will process your application whilst you wait. </p>
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                Conditions such as depression, anxiety, schizophrenia, dyslexia, and ADHD are not eligible for a
                disabled person’s bus pass unless they meet one of the other criteria.
            </strong>
        </div>



    </div>

    <div class="govuk-grid-column-one-third">
        <aside class="aside" role="complementary">

        </aside>
    </div>


</div>