---
Title: Free bus pass (Diamond Travelcard)
Breadcrumb1_url: section-parking.html
Breadcrumb1_title: Parking & Travel
---

            <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        {{> breadcrumb.lv-two-breadcrumb}}
                    </div>
                </div>

            <div class="govuk-grid-row"> 
                    <div class="govuk-grid-column-two-thirds">  
                            
                        <h1 class="govuk-heading-xl">{{Title}}</h1>
                            

						<p class="govuk-body-l">You’re entitled to a free bus pass if you’re a BANES resident and have reached the qualifying age or have certain disabilities. The bus pass is called a Diamond Travelcard.</p>
 
						<h2 class="govuk-heading-l">How to apply for a bus pass</h2>
						 
						<div class="govuk-grid-row">
						<div class="govuk-grid-column-one-half"><a class="govuk-button govuk-button--start" href="/parking-travel/bus-passes-older-persons.html" role="button">Older person's bus pass</a></div>
						 
						<div class="govuk-grid-column-one-half"><a class="govuk-button govuk-button--start" href="/parking-travel/bus-passes-disabled.html" role="button">Disabled person's bus pass</a></div>
						</div>
						 
						<details class="govuk-details"><summary class="govuk-details__summary"> <span class="govuk-details__summary-text"> How to use your bus pass </span> </summary>
						 
						<div class="govuk-details__text">You must present your pass to the smart card reader every time you get on a bus. Some bus companies may issue you with a ticket. If so, please keep the ticket until you get off the bus as you may need to show it to an inspector. If you forget to take your pass with you, you must pay the normal fare.</div>
						</details>
						 
						<details class="govuk-details"><summary class="govuk-details__summary"> <span class="govuk-details__summary-text">Where and when you can use your bus pass </span> </summary>
						 
						<div class="govuk-details__text">You can use your bus pass on all local bus services (including Park and Ride) anywhere in Bath & North East Somerset, Bristol, North Somerset and South Gloucestershire except between 4am and 9am Monday to Friday. If you belong to a Dial a Ride group you can also get discounted fares.<br/><br/>
						You can also use your pass anywhere in England (including London) between 9:30am and 11pm Monday to Friday, and all day at weekends and bank holidays.	
							</div>
						</details>
						 
						<details class="govuk-details"><summary class="govuk-details__summary"> <span class="govuk-details__summary-text"> If you lose or damage your pass </span> </summary>
						 
						<div class="govuk-details__text">If you lose your bus pass, you’ll need to visit a One Stop Shop to get a replacement. We may need to take a new photograph. There will be a £7 charge for replacing a lost or damaged bus pass and you won’t be able to use the old pass if you find it.							</div>
						</details>
						 
						<details class="govuk-details"><summary class="govuk-details__summary"> <span class="govuk-details__summary-text"> If your pass is stolen </span> </summary>
						 
						<div class="govuk-details__text">If you lose your bus pass, you’ll need to report it to the police and get a crime reference number. <a href="https://www.reportmyloss.com/uk/">You can do this online</a> or by calling <a href="tel:101">101</a>. Once you have the crime reference number you can come into a <a href="http://bathnes.gov.uk/contact-us/offices-and-one-stop-shops">One Stop Shop</a> for a replacement. There is no charge for replacing a stolen pass if you have a crime reference number
								.</div>
						</details>
						 
						<details class="govuk-details"><summary class="govuk-details__summary"> <span class="govuk-details__summary-text"> Help with nationality </span> </summary>
						 
						<div class="govuk-details__text">We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post.</div>
						</details>
						 
						<details class="govuk-details"><summary class="govuk-details__summary"> <span class="govuk-details__summary-text"> Changing the photograph on your bus pass </span> </summary>
						 
						<div class="govuk-details__text">To change the photograph on your bus pass, you can visit a council <a href="http://bathnes.gov.uk/contact-us/offices-and-one-stop-shops">One Stop Shop</a> to have a photograph taken and a new pass issued. If the photograph is being changed because it is no longer a good likeness this service will be free, otherwise there will be a charge of £7.</div>
						</details>
						 
						<details class="govuk-details"><summary class="govuk-details__summary"> <span class="govuk-details__summary-text"> How to re-apply for an older person’s bus pass when it expires</span> </summary>
						 
						<div class="govuk-details__text">If you have a pass issued to you because of age you don’t need to reapply. We’ll send you a new bus pass before the old one is due to expire. You need to make sure that we have your current address and can tell us this by <a href="http://bathnes.gov.uk/services/council-tax-benefits-and-grants/council-tax/change-address">updating your council tax details</a>. If your pass hasn’t arrived seven days before it’s due to expire then visit one of our <a href="http://bathnes.gov.uk/contact-us/offices-and-one-stop-shops">One Stop Shops</a>.
							</div>
						</details>

						<details class="govuk-details"><summary class="govuk-details__summary"> <span class="govuk-details__summary-text"> If you need a companion to assist you when travelling</span> </summary>
						 
							<div class="govuk-details__text">If you need assistance to travel on buses, please bring confirmation from a healthcare professional when you apply. We can then endorse your bus pass to allow a companion to accompany you free on local buses. Companion entitlement is only valid in Bath and North East Somerset, Bristol, North Somerset, South Gloucestershire and Wiltshire. <br/><br/>We do not issue companion cards for children under the age of 11.</div>
							</details>
						 
						<h2 class="govuk-heading-l">What you need to know</h2>
						 
						<ul class="govuk-list govuk-list--bullet">
										<li>If you allow someone else to use your bus pass, it could be withdrawn</li>
										<li>Your bus pass gives you no more rights than any other passenger</li>
										<li>If you move within the council area, tell us your new address as soon as possible</li>
										<li>If you move out of the council area, you’ll need to apply to your new council for a replacement pass</li>
										<li>If you no longer require a pass, please return it to a council One Stop Shop</li>
										<li>If you are applying for several passes on behalf of a group or organisation, you’ll need to make an appointment in advance by emailing <a href="mailto:triage@bathnes.gov.uk">triage@bathnes.gov.uk</a></li>
						</ul>

            
    </div>

    <div class="govuk-grid-column-one-third">
            <aside class="aside" role="complementary">            
         
        </aside>
    </div>

    
</div>