---
Title: I am registered blind or partially sighted
Breadcrumb1_url: section-parking.html
Breadcrumb1_title: Parking & Travel
Breadcrumb2_url: bus-passes-diamond-travelcard.html
Breadcrumb2_title: Free bus pass (Diamond Travelcard)
---

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{> breadcrumb.lv-three-breadcrumb}}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">{{Title}}</h1>

        <p class="govuk-body-l">You may be eligible for a bus pass.</p>
        <p class="govuk-body">If you are registered with our <a href="http://bathneshealthandcare.nhs.uk/?s=vision+loss">Hearing
                and Vision team</a> you can give us your registration number and we’ll check your eligibility with
            them. </p>
        <p class="govuk-body">If you are not registered with us then you will need to provide a copy of a certificate
            of vision impairment or a <strong>BD8 form</strong>. These must state that you are blind or partially
            sighted and must be signed by a Consultant Opthalmologist.</p>
        <p class="govuk-body">You can take your documents into one of our <a href="http://www.bathnes.gov.uk/contact-us/offices-and-one-stop-shops">One
                Stop Shops</a> and we will process your application whilst you wait. </p>
        <p><a href="bus-passes-disabled-none.html" class="govuk-button">Back</a></p>



    </div>

    <div class="govuk-grid-column-one-third">
        <aside class="aside" role="complementary">

        </aside>
    </div>


</div>