---
Title: I am registered blind or partially sighted
Breadcrumb1_url: section-parking.html
Breadcrumb1_title: Parking & Travel
Breadcrumb2_url: bus-passes-diamond-travelcard.html
Breadcrumb2_title: Free bus pass (Diamond Travelcard)
---

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{> breadcrumb.lv-three-breadcrumb}}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">{{Title}}</h1>

        <p class="govuk-body-l">You may be eligible for a bus pass.</p>
            <h2 class="govuk-heading-l">How to get your bus pass</h2>
            <p class="govuk-body">To get your bus pass, you must bring proof of your eligibility to the <a href="http://www.bathnes.gov.uk/contact-us/offices-and-one-stop-shops">One
                Stop Shop</a> in Bath, Keynsham or Midsomer Norton. We’ll check your details, take your photo free of charge and then print
            your card while you wait.</p>
            <h2 class="govuk-heading-l">What you must bring:</h2>
            <h3 class="govuk-heading-m">Proof of eligibility</h3>
            <p class="govuk-body">If you are registered with our <a href="http://bathneshealthandcare.nhs.uk/?s=vision+loss">Hearing
                and Vision team</a> you can give us your registration number and we’ll check your eligibility with
            them. </p>
        <p class="govuk-body">If you are not registered with us then you will need to provide a copy of a <strong>certificate
            of vision impairment (CVI)</strong> or a <strong>DB8 form </strong>if issued before 2005. These must state that you are blind or partially
            sighted and must be signed by a Consultant Opthalmologist.</p>
            <h3 class="govuk-heading-m">Proof of residence in Bath and North East Somerset</h3>
            <p class="govuk-body">Please bring one of these (no more than 6 months old):</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>a council tax bill</li>
                <li>a utility bill</li>
                <li>a copy of your tenancy agreement</li>
                <li>a bank statement</li>
                <li>evidence of your entitlement to vote in Bath and North East Somerset</li>
            </ul>
            <details class="govuk-details"><summary class="govuk-details__summary"> <span class="govuk-details__summary-text"> For boat dwellers only </span> </summary>
                             
                <div class="govuk-details__text">
                <p class="govuk-body">Please bring one of these:</p>
                 
                <ul class="govuk-list govuk-list--bullet">
                                <li>a mooring licence for a site in Bath and North East Somerset</li>
                                <li>a utility bill</li>
                                <li>evidence of your entitlement to vote in Bath and North East Somerset</li>
                                <li>a letter from a government department or public body addressed to you at a PO Box or Poste Restante in Bath and North East Somerset</li>
                </ul>
                </div>
                </details>
            <h3 class="govuk-heading-m">Proof of identity</h3>
            <p class="govuk-body">Please bring one of these:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>birth certificate or adoption certificate</li>
                <li>marriage or divorce certificate</li>
                <li>passport</li>
                <li>civil partnership or dissolution certificate</li>
                <li>valid photo driving licence (both parts)</li>
            </ul>
            <div class="govuk-inset-text">
                    <h3 class="govuk-heading-m">
                        For those applying on behalf of a person under 16</h3>
                        <p class="govuk-body">Please bring one of these:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>NHS medical card/letter</li>
                                <li>The child’s bank or building society statement</li>
                                <li>a DWP or HMRC letter detailing the child’s name and address</li>
                            </ul>
                </strong>
            </div>
        <p><a href="bus-passes-disabled-none.html" class="govuk-button">Back</a></p>



    </div>

    <div class="govuk-grid-column-one-third">
        <aside class="aside" role="complementary">

        </aside>
    </div>


</div>