---
Title: Apply for a disabled person’s bus pass
Breadcrumb1_url: section-parking.html
Breadcrumb1_title: Parking & Travel
Breadcrumb2_url: bus-passes-diamond-travelcard.html
Breadcrumb2_title: Free bus pass (Diamond Travelcard)
---

            <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        {{> breadcrumb.lv-three-breadcrumb}}
                    </div>
                </div>

            <div class="govuk-grid-row"> 
                    <div class="govuk-grid-column-two-thirds">  
                            
                        <h1 class="govuk-heading-xl">{{Title}}</h1>
						<p class="govuk-body-l">Some people are automatically eligible for a disabled person's bus pass. Tell us which of these criteria applies.</p>
						<form id="disabled-buspass"  action="bus-passes-disabled2.html">
						<!--<form id="disabled-buspass">-->
							<div class="govuk-form-group">
								<fieldset class="govuk-fieldset">
								  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
									<h2 class="govuk-heading-l">Check your eligibility</h2>
								  </legend>
								  <div class="govuk-radios">
									<div class="govuk-radios__item">
									  <input class="govuk-radios__input" id="eligibility-1" name="eligibility" type="radio" value="higher-dla">
									  <label class="govuk-label govuk-radios__label" for="eligibility-1">
										I get the Higher Rate Mobility Component of Disability Living Allowance (DLA)
									  </label>
									</div>
									<div class="govuk-radios__item">
									  <input class="govuk-radios__input" id="eligibility-2" name="eligibility" type="radio" value="pip">
									  <label class="govuk-label govuk-radios__label" for="eligibility-2">
										I get Personal Independence Payment (PIP) with a score of 8 points or more in the Moving Around or Communicating Verbally sections
									  </label>
									</div>
									<div class="govuk-radios__item">
									  <input class="govuk-radios__input" id="eligibility-3" name="eligibility" type="radio" value="war-pension">
									  <label class="govuk-label govuk-radios__label" for="eligibility-3">
										I get War Pensioners Mobility Supplement
									  </label>
									</div>
									<div class="govuk-radios__item">
									  <input class="govuk-radios__input" id="eligibility-4" name="eligibility" type="radio" value="blue-badge">
									  <label class="govuk-label govuk-radios__label" for="eligibility-4">
										I have a Blue Badge
									</label>
									</div>
									<div class="govuk-radios__item">
										<input class="govuk-radios__input" id="eligibility-5" name="eligibility" type="radio" value="none">
										<label class="govuk-label govuk-radios__label" for="eligibility-5">
											None of these apply
										</label>
									  </div>
								  </div>
								</fieldset>
							  </div>
							  <input type="submit" id="go" class="govuk-button" value="Continue" />	
							
							  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
							  <script>
								
								$('#disabled-buspass').submit(function(){
									if ($('input[name=eligibility]:checked').val() == 'higher-dla'){
										$('#disabled-buspass').attr("action", "bus-passes-disabled-higher-dla.html");
									}
									else if ($('input[name=eligibility]:checked').val() == 'pip'){$('#disabled-buspass').attr("action", "bus-passes-disabled-pip.html");
									}
									else if  ($('input[name=eligibility]:checked').val() == 'war-pension'){$('#disabled-buspass').attr("action", "bus-passes-disabled-war-pension.html");
									}
									else if  ($('input[name=eligibility]:checked').val() == 'blue-badge'){$('#disabled-buspass').attr("action", "bus-passes-disabled-blue-badge.html");
									}
									else {
										$('#disabled-buspass').attr("action","bus-passes-disabled-none.html");
									}
    							
								});
								
							  </script>

						</form>
						          
        
    </div>

    <div class="govuk-grid-column-one-third">
            <aside class="aside" role="complementary">            
         
        </aside>
    </div>

    
</div>