---
Title: I do not have arms or have long term loss the use of both arms
Breadcrumb1_url: section-parking.html
Breadcrumb1_title: Parking & Travel
Breadcrumb2_url: bus-passes-diamond-travelcard.html
Breadcrumb2_title: Free bus pass (Diamond Travelcard)
---

            <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        {{> breadcrumb.lv-three-breadcrumb}}
                    </div>
                </div>

            <div class="govuk-grid-row"> 
                    <div class="govuk-grid-column-two-thirds">  
                            
                        <h1 class="govuk-heading-xl">{{Title}}</h1>
						<p class="govuk-body-l">You are eligible for a bus pass if</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>You have both arms but are unable to use them to carry out day to day tasks</li>
                            <li>You have a limb reduction deficiency of both arms</li>
                            <li>You have a bilateral upper limb amputation</li>
                            <li>You have a medical condition that affects the use of your arms such as motor neurone disease, muscular dystrophy, or spinal cord injury</li>
                          </ul>
                        <p class="govuk-body">You can take your documents into one of our <a href="http://www.bathnes.gov.uk/contact-us/offices-and-one-stop-shops">One Stop Shops</a> and we will process your application whilst you wait. </p>
												
						          
        
    </div>

    <div class="govuk-grid-column-one-third">
            <aside class="aside" role="complementary">            
         
        </aside>
    </div>

    
</div>