---
Title: War Pensioners Mobility Supplement
Breadcrumb1_url: section-parking.html
Breadcrumb1_title: Parking & Travel
Breadcrumb2_url: bus-passes-diamond-travelcard.html
Breadcrumb2_title: Free bus pass (Diamond Travelcard)
---

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{> breadcrumb.lv-three-breadcrumb}}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">{{Title}}</h1>
        <p class="govuk-body-l">You are eligible for a bus pass. You will need to bring a copy of your award letter
            from the Service Personnel and Veterans Agency into one of our
            <a href="http://www.bathnes.gov.uk/contact-us/offices-and-one-stop-shops">One Stop Shops</a>.</p>

        <p><a href="bus-passes-disabled.html" class="govuk-button">Back</a></p>

    </div>

    <div class="govuk-grid-column-one-third">
        <aside class="aside" role="complementary">

        </aside>
    </div>


</div>