---
Title: I have a disability or injury that means I can’t walk or find walking difficult
Breadcrumb1_url: section-parking.html
Breadcrumb1_title: Parking & Travel
Breadcrumb2_url: bus-passes-diamond-travelcard.html
Breadcrumb2_title: Free bus pass (Diamond Travelcard)
---

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{> breadcrumb.lv-three-breadcrumb}}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">{{Title}}</h1>

        <p class="govuk-body-l">YYou are eligible for a bus pass. You will need to provide evidence from a medical
            specialist which <strong>must</strong> show one of these statements</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>I’ve decided that you can stand and move unaided more than 20 metres but no more than 50 metres</li>
            <li>I’ve decided that you can stand and then move using an aid or appliance more than 20 metres but not
                more than 50 metres</li>
            <li>I’ve decided that you can stand and move more than 1 metre but no more than 20 metres</li>
            <li>I’ve decided that you cannot stand or move more than 1 metre</li>
            <li>You would be eligible for Higher Rate Mobility component of Disability Living Allowance (DLA)</li>
        </ul>
        <p class="govuk-body">You can take your documents into one of our <a href="http://www.bathnes.gov.uk/contact-us/offices-and-one-stop-shops">One
                Stop Shops</a> and we will process your application whilst you wait. </p>
        <p><a href="bus-passes-disabled-none.html" class="govuk-button">Back</a></p>


    </div>

    <div class="govuk-grid-column-one-third">
        <aside class="aside" role="complementary">

        </aside>
    </div>


</div>