---
Title: I am without speech
Breadcrumb1_url: section-parking.html
Breadcrumb1_title: Parking & Travel
Breadcrumb2_url: bus-passes-diamond-travelcard.html
Breadcrumb2_title: Free bus pass (Diamond Travelcard)
---

            <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        {{> breadcrumb.lv-three-breadcrumb}}
                    </div>
                </div>

            <div class="govuk-grid-row"> 
                    <div class="govuk-grid-column-two-thirds">      
                        <h1 class="govuk-heading-xl">{{Title}}</h1>
												<p class="govuk-body-l">You may be eligible for a bus pass.</p>
                        <p class="govuk-body">You will need to provide evidence from a medical specialist that shows that you are unable to make clear basic requests, such as asking for a bus ticket.</p>
												<p class="govuk-body">You can take your documents into one of our <a href="http://www.bathnes.gov.uk/contact-us/offices-and-one-stop-shops">One Stop Shops</a> and we will process your application whilst you wait. </p>
    </div>
    <div class="govuk-grid-column-one-third">
            <aside class="aside" role="complementary">            
         
        </aside>
    </div>

    
</div>