---
layout: default
Title: Business customer permits
Breadcrumb1_title: Parking & Travel
Breadcrumb1_url: section-parking.html
Breadcrumb2_title: Business parking permits
Breadcrumb2_url: section-business-permits.html
---

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
     {{> breadcrumb.lv-three-breadcrumb}}
    </div>
</div>

<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 24px;">{{Title}}</h1>
	<p class="govuk-body-l">If your business premises is in a residents parking zone, you may be entitled to up to 2 parking permits for your customers to use when visiting you.</p>

<p class="govuk-body">This permit allows a customer to park on the street within your allocated zone only. The permit does not allow them to park in other zones and they can't park in time-limited waiting or pay-and-display only parking areas.</p>

<div class="breakout-box">
	<p class="govuk-body">Please note that you <strong>cannot</strong> apply for a business customer parking permit if</p>
<ul class="govuk-list govuk-list--bullet">
<li>your premesis has any off-street parking</li>
<li>you are located in the Bath central zone</li>
<li>your building was constructed or converted after 2006</li>
</ul> 
</div>

<h2 class="govuk-heading-m">Mixing with other types of parking permit</h2>

<p class="govuk-body">These permits, together with <a href="business-permits.html">essential business vehicle permits</a> and any <a href="section-residents-permits.html">residents parking permits</a> count towards your total maximum of 2 permits for your premesis. So for example you could apply for 1 essential vehicle and 1 customer permit, but not 2 of each.</p>

<h2 class="govuk-heading-l">How to apply</h2>

<p class="govuk-body">If necessary, <a href="">check which parking zone you are in</a>. Please note that business parking permits are not available in Bath central zone.</p>

<p class="govuk-body"><a class="govuk-button govuk-button--start govuk-!-margin-bottom-2" style="margin-bottom: 12px;" href="">Apply online</a></p>

<h2 class="govuk-heading-l">How to use</h2>

<ul class="govuk-list govuk-list--number">
<li>Give the paper permit to your customer when they arrive and ask them to display it clearly in their windscreen.</li>
<li>They can park on the street within your allocated zone only. The permit does not allow them to park in other zones and they can't park in time-limited waiting or pay-and-display only parking areas.</li>
<li>When your customer leaves they must return the permit to you.</li>
</ul>


<h2 class="govuk-heading-m">If a permit gets lost</h2>

<p class="govuk-body">If a permit gets lost, for example if a customer drives away with it and you are unable to retreive it, then you will be unable to use that permit until it is cancelled and reissued. To reisse a permit please <a href="">contact us</a>.</p>

<h2 class="govuk-heading-m">Changing your vehicle</h2>

<p class="govuk-body">If you change your business vehicle you must update its details immediately to avoid getting a parking fine.</p>

<h2 class="govuk-heading-m">Renewing a permit</h2>

<p class="govuk-body">You can renew your permit <strong>up to 1 month before the expiry date</strong>. Renewal can be done online and only takes a couple of minutes. If you are renewing an existing permit all you need is your payment details. You must renew before the expiry date or you may be fined for parking in the zone.</p>

	</div>

<div class="govuk-grid-column-one-third">
<aside class="aside" role="complementary">
<h2 class="govuk-heading-m">Other business parking permits</h2>
		<ul class="govuk-list">

			<li><a href="business-permits.html">Essential business vehicle permits</a></li>
			<li><a href="trade-parking-permits.html">Trade or van permits</a></li>
			<li><a href="">Hotel &amp; guesthouse permits</a></li>
			<li><a href="">Medical &amp; GP permits</a></li>
		</ul>
<h2 class="govuk-heading-m">Parking permits in more depth</h2>
		<ul class="govuk-list">

			<li><a href="http://www.bathnes.gov.uk/sites/default/files/siteimages/Parking-and-Travel/Parking-Permits/bath_residents_parking_zones_map_-_portrait_view.pdf">Map of all zones (Bath)</a></li>
			<li><a href="">Map of all zones (Keynsham)</a></li>
			<li><a href="">Detailed terms &amp; conditions</a></li>
			<li><a href="">Parking and travel strategy</a></li>
			<li><a href="">Consultation for new schemes</a></li>
		</ul>


<!--
<h2 class="govuk-heading-m">Help us reduce congestion</h2>

<ul class="govuk-list">
<li><a href="https://cycleplanner.betterbybike.info/route-planning">Travel by bike</a></li>
<li><a href="https://journeyplanner.travelwest.info/directions">Find a train or bus</a></li>
<li><a href="https://travelwest.info/park-ride/bath" target="_blank">Park and Ride</a></li>
</ul>
-->

</aside>
</div>


</div>


