---
layout: default
Title: Essential business vehicle parking permits
Breadcrumb1_title: Parking & Travel
Breadcrumb1_url: section-parking.html
Breadcrumb2_title: Business parking permits
Breadcrumb2_url: section-business-permits.html
---

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
     {{> breadcrumb.lv-three-breadcrumb}}
    </div>
</div>

<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 24px;">{{Title}}</h1>
		<p class="govuk-body-l">If your business premises is in a residents parking zone, you may be entitled to up to 2 parking permits for essential business vehicles such as delivery vans.</p>


<h2 class="govuk-heading-l">Eligibility</h2>

<p class="govuk-body">You <strong>cannot</strong> apply for a business parking permit if</p>
<ul class="govuk-list govuk-list--bullet">
<li>it's for a personal vehicle that you use for travelling to work</li>
<li>your premesis has any off-street parking</li>
<li>you are located in the Bath central zone</li>
<li>your building was constructed or converted after 2006</li>
</ul> 

<h3 class="govuk-heading-m">Mixing with other types of parking permit</h3>

<p class="govuk-body">These permits, together with <a href="business-customer-permits.html">business customer permits</a> and any <a href="section-residents-permits.html">residents parking permits</a> count towards your total maximum of 2 permits for your premesis. So for example you could apply for 1 essential vehicle and 1 customer permit, but not 2 of each.</p>

<h2 class="govuk-heading-l">How to apply</h2>

<p class="govuk-body">If necessary, <a href="">check which parking zone you are in</a>. Please note that business parking permits are not available in Bath central zone.</p>

<p class="govuk-body"><a class="govuk-button govuk-button--start govuk-!-margin-bottom-2" href="find-parking-zone.html">Apply online</a></p>

<h2 class="govuk-heading-l">How to use</h2>

<p class="govuk-body">A permit will allow you to park your business vehicle on the street within your allocated zone. The permit does not allow you to park in other zones and you can't park in time-limited waiting or pay-and-display only parking areas.</p>

<h2 class="govuk-heading-l">Already have a permit?</h2>

<p class="govuk-body">Most permits can be updated, renewed or cancelled online. This takes a couple of minutes and takes effect immediately.</p>

<p class="govuk-body"><a href="https://secure.mipermit.com/bathnes/Application/Login.aspx" class="govuk-button">Log in to manage your permits</a></p>

<h2 class="govuk-heading-m">Changing your vehicle</h2>

<p class="govuk-body">If you change your business vehicle you must update its details immediately to avoid getting a parking fine.</p>

<h2 class="govuk-heading-m">Renewing a permit</h2>

<p class="govuk-body">You can renew your permit <strong>up to 1 month before the expiry date</strong>. Renewal can be done online and only takes a couple of minutes. If you are renewing an existing permit all you need is your payment details. You must renew before the expiry date or you may be fined for parking in the zone.</p>

	</div>

<div class="govuk-grid-column-one-third">
<aside class="aside" role="complementary">
<h2 class="govuk-heading-m">Other business parking permits</h2>
		<ul class="govuk-list">

			<li><a href="business-customer-permits.html">Business customer permits</a></li>
			<li><a href="">Trade or van permits</a></li>
			<li><a href="">Hotel &amp; guesthouse permits</a></li>
			<li><a href="">Medical &amp; GP permits</a></li>
		</ul>
<h2 class="govuk-heading-m">Parking permits in more depth</h2>
		<ul class="govuk-list">

			<li><a href="http://www.bathnes.gov.uk/sites/default/files/siteimages/Parking-and-Travel/Parking-Permits/bath_residents_parking_zones_map_-_portrait_view.pdf">Map of all zones (Bath)</a></li>
			<li><a href="">Map of all zones (Keynsham)</a></li>
			<li><a href="">Detailed terms &amp; conditions</a></li>
			<li><a href="">Parking and travel strategy</a></li>
			<li><a href="">Consultation for new schemes</a></li>
		</ul>


<!--
<h2 class="govuk-heading-m">Help us reduce congestion</h2>

<ul class="govuk-list">
<li><a href="https://cycleplanner.betterbybike.info/route-planning">Travel by bike</a></li>
<li><a href="https://journeyplanner.travelwest.info/directions">Find a train or bus</a></li>
<li><a href="https://travelwest.info/park-ride/bath" target="_blank">Park and Ride</a></li>
</ul>
-->

</aside>
</div>


</div>


