---
Title: Challenge a bus lane fine
Breadcrumb1_url: section-parking.html
Breadcrumb1_title: Parking & Travel
---
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{> breadcrumb.lv-two-breadcrumb}}
      </div>
</div>



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{Title}}</h1>
        <p class="govuk-body-l">If you think you have received a fine in error or have mitigating circumstances that you want to tell us about, you can challenge a bus lane fine. If you wish to challenge the fine then do not pay it.
        </p>

        <p class="govuk-body">You can challenge a bus lane fine (also known as a Penalty Charge Notice or PCN) by making a Formal Representation in writing, either online on by post.</p>
        <p class="govuk-body">You will need:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>The Notice Number e.g. BN12345678</li>
            <li>Your vehicle registration e.g. BD51 SMR</li>
            <li>Web Code e.g. 123AB456</li>
        </ul>
        <p class="govuk-body">These are written on the Notice to Owner you have received.</p>


        <a href="https://parking.bathnes.gov.uk/Pages/OnlineReferenceEntry.aspx?loadtype=FORMAL" class="govuk-button govuk-button--start">Challenge a bus lane fine online</a>

        <h2 class="govuk-heading-l">Other ways to challenge a bus lane fine</h2>

       <p class="govuk-body"><strong>By email </strong>-  <a href="mailto:parking@bathnes.gov.uk">parking@bathnes.gov.uk</a>  </p> 
    <p class="govuk-body"><strong>By post</strong> – Parking Services, Bath and North East Somerset Council, PO Box 5197, Bath, BA1 0UF</p>
    <p class="govuk-body">You will need write within 28 days of the date of the fine and quote the number from your fine, which will start with BN. You will also need to clearly state the reasons why you want to challenge the fine. If you need help with this, you can call <strong class="banes-mobile-inline-only"><a href="tel:01225477133"> 01225 477133</a></strong> <strong class="banes-desktop-inline-only">01225 477133</strong> or visit a <a href="www.bathnes.gov.uk/contact-us/offices-and-one-stop-shops"><strong>One Stop Shop</strong></a>.</p>

    <h2 class="govuk-heading-l">
        If your challenge is rejected
    </h2>   
    <p class="govuk-body">If your challenge is rejected, you can appeal this decision. This is called making a formal representation. You do not need to have made a challenge to make a formal representation. You will receive a letter 28 days after the fine was issued (called a Notice to Owner) and this will tell you how you can make a representation. You will have a further 28 days from the date on the Notice to Owner letter to make a formal representation. You will need the web code printed on your Notice to Owner as well as your BN reference number and your vehicle registration number.
        </p>

        <a href="https://parking.bathnes.gov.uk/Pages/OnlineReferenceEntry.aspx?loadtype=FORMAL" class="govuk-button">Make a representation online </a>

    <h2 class="govuk-heading-l">If your representation is rejected</h2>

    <p class="govuk-body">If your representation is rejected, you will be notified of this by letter. This letter will also tell you how you can appeal this decision. The appeal will be dealt with by the <a href="https://www.trafficpenaltytribunal.gov.uk/">Traffic Penalty Tribunal</a>  and their decision will be final.
        </p>

        <p class="govuk-body"> If you want independent advice you please contact <a href="https://www.patrol-uk.info/">PATROL UK</a> </p>

    </div>

<div class="govuk-grid-column-one-third">
        <aside class="aside" role="complementary">            
            <nav class="govuk-aside__nav" role="navigation">
            <ul class="govuk-list">
            <li><a href="paying-your-bus-lane-plenaty-charge-notice.html" target="_blank">Pay a bus lane fine</a></li>
            <li><a href="">Guidence for the enforcement and cancellation of penalty charge notices</a></li>
        </a></li>
            </ul>
            </nav> 
    </aside>
</div>

</div>