---
Title: Challenge a parking fine
Breadcrumb1_url: section-parking.html
Breadcrumb1_title: Parking & Travel
---
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{> breadcrumb.lv-two-breadcrumb}}
      </div>
</div>



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{Title}}</h1>
        <p class="govuk-body-l">You need to challenge a parking fine in writing within 28 days. You can do this in several ways.
        </p>

        <a href="https://parking.bathnes.gov.uk/Pages/OnlineReferenceEntry.aspx?loadtype=INFORMAL " class="govuk-button govuk-button--start">Challenge a parking fine online</a>

       <p class="govuk-body"><strong>By email </strong>-  <a href="mailto:parking@bathnes.gov.uk">parking@bathnes.gov.uk</a>  </p> 
    <p class="govuk-body"><strong>By post</strong> – Parking Services, Bath and North East Somerset Council, PO Box 5197, Bath, BA1 0UF</p>
    <p class="govuk-body">You will need to quote the number from your fine, which will start with BN. You will also need to clearly state the reasons why you want to challenge the fine. If you need help with this, you can call <strong class="banes-mobile-inline-only"><a href="tel:01225477133"> 01225 477133</a></strong> <strong class="banes-desktop-inline-only">01225 477133</strong> or visit a <strong>One Stop Shop.</strong></p>

    <h2 class="govuk-heading-l">
        If your challenge is rejected
    </h2>   
    <p class="govuk-body">If your challenge is rejected, you can make a formal representation. If you wish to do this then do not pay the fine. You will receive a letter 28 days after the fine was issued and this will tell you how you can make a representation.</p>

    <h2 class="govuk-heading-l">If your representation is rejected</h2>

    <p class="govuk-body">If your representation is rejected, you will be notified of this by letter. This letter will also tell you how you can appeal this decision. The appeal will be dealt with by the <a href="https://www.trafficpenaltytribunal.gov.uk/">Traffic Penalty Tribunal</a>  and their decision will be final.
        </p>

        <p class="govuk-body"> If you want independent advice you please contact <a href="https://www.patrol-uk.info/">PATROL UK</a> </p>

    </div>

<div class="govuk-grid-column-one-third">
        <aside class="aside" role="complementary">
            <h2 class="govuk-heading-m">Pay a parking fine</h2>
            
            <nav class="govuk-aside__nav" role="navigation">
            <ul class="govuk-list">
            <li><a href="pay-parking-fine.html" target="_blank">If you pay your parking fine within 15 days you will receive a 50% discount</a></li>
            <li>Parking And Traffic Regulations Outside London </li>
            </ul>
            </nav> 
    </aside>
</div>

</div>