---
Title: Clamping and vehicle removal
Breadcrumb1_url: section-parking.html
Breadcrumb1_title: Parking & Travel
---

            <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        {{> breadcrumb.lv-two-breadcrumb}}
                    </div>
                </div>

            <div class="govuk-grid-row"> 
                    <div class="govuk-grid-column-two-thirds">  
                            
                        <h1 class="govuk-heading-xl">{{Title}}</h1>
                            
                            <h2 class="govuk-heading-l">What do I do if my car has been clamped or towed by the Council?</h2>
                            
                            <p class="govuk-body">
                            If your car has been clamped then you will also have been issued with a fine. You will need to pay the fine and a clamp removal fee of £40. You will need to pay these charges at one of the council’s One Stop Shops. </p>
                            
                            <h2 class="govuk-heading-l">What do I do if my vehicle has been removed?</h2>

                            <p class="govuk-body">
                            The council will notify the police if your vehicle has been removed. You will need to contact the council’s removal contractor, Hinton Rescue on <strong class="banes-mobile-inline-only"> <a href="tel:01225448025">01225 448025</a> </strong> <strong class="banes-desktop-inline-only">01225 448025</strong>, to get your vehicle released and arrange collection.</p>
                            
                            <p class="govuk-body">You will need to provide:</p>
                            <ul class="govuk-list govuk-list--bullet">
                            <li>  Personal identification (driving licence or passport)</li>
                            <li>Proof of vehicle ownership (V5 registration document)</li>
                            <li>A valid Certificate of Motor Insurance</li>
                        <li>Proof of residence such as a utility bill issued within the last three months</li>
                        </ul>
                            
                        <h2 class="govuk-heading-l">How much does it cost for my vehicle to be released?</h2>
                        <ul class="govuk-list govuk-list--bullet">    
                        
                        <li>Vehicle removal fee £105</li>
                        <li>Vehicle storage fee £12 per day</li>
                        <li>Vehicle disposal fee (if not claimed) £50</li>
                        </ul>

<h2 class="govuk-heading-l">How do I appeal the decision to clamp or remove my vehicle?
    </h2>

    <p class="govuk-body">You can challenge the process by following the instructions on the back of the parking ticket or other documentation you receive. We must receive your letter within 28 days of the fine being issued.</p>


<p class="govuk-body">
If your challenge is rejected, you will receive a letter explaining why and telling you how you can appeal to the <a href="https://www.trafficpenaltytribunal.gov.uk">Traffic Penalty Tribunal</a> .</p>


            
    </div>

    <div class="govuk-grid-column-one-third">
            <aside class="aside" role="complementary">            
         
        </aside>
    </div>

    
</div>