---
layout: default
Title: Christmas Market coach parking
Breadcrumb1_title: Parking & Travel
Breadcrumb1_url: section-parking.html
---

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
     {{> breadcrumb.lv-two-breadcrumb}}
	</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">{{Title}}</h1>

<p class="govuk-body-l">
		Bath Christmas Market 2018 will be running from Thursday 22nd November to Sunday 9th December. 
</p>

<a href="https://secure.mipermit.com/bathnes/Application/ProductForeword.aspx?PermitType=COACH" class="govuk-button govuk-button--start">Book now</a>


<h2 class="govuk-heading-l">Charges</h2>

<p class="govuk-body">
		£1 per seat for capacity of vehicle being booked, non-refundable. This covers two 30 minute slots at one of the drop off/pick up locations, and parking at one of our marshalled all day parking sites.</p>
		<p class="govuk-body">You can choose the date, time, drop off/pick up and layover locations, subject to availability.	</p>

		<div class="breakout-box">

				<p>
						Please ensure that you read the terms and conditions before making your booking.
				</p>
		
		</div>

</div>
<div class="govuk-grid-column-one-third">
<aside class="aside" role="complementary">
<h2 class="govuk-heading-m">Want to avoid the traffic?</h2>

<nav class="govuk-aside__nav" role="navigation">
<ul class="govuk-list">

</ul>
</nav>
</aside>
</div>
</div>
