---
layout: default
Title: Keynsham and District Dial-a-Ride
Breadcrumb1_url: section-parking.html
Breadcrumb1_title: Parking & Travel
Breadcrumb2_url: /parking-travel/community-transport.html
Breadcrumb2_title: Community Transport
Breadcrumb3_url: /parking-travel/community-transport-directory.html
Breadcrumb3_title: Community transport directory
---

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
     {{> breadcrumb.lv-three-breadcrumb}}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Bath Dial-a-Ride</h1>

    </div>
</div>  

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <p class="govuk-body-l">Dial-a-Ride is a door to door fully accessible minibus service for those who cannot use conventional public transport, You can use this service to go shopping, attend appointments and play an active part in community life.</p>
 
            <p>If you live within the areas served by Dial-a-Ride and the Hopper Service and can't use conventional public transport then you should be eligible to register for this service. If you are unsure whether you are eligible or have any further questions please contact the co-ordinator on <a href="tel:441225335019">01225 335019.</a></p>
             
            <div class="breakout-box">
            <p class="govuk-body">Please note: We do our best to meet all requests, however, we do operate on a first come first served basis. We may ask you to alter your desired journey times slightly. We reserve the right to refuse or defer an application for registration, to ask for additional information in support of an application or to cancel any existing registration. All wheelchairs must be risk assessed by us before we can transport you.</p>
            </div>
             
            <h3 class="govuk-heading-m">Registration</h3>
             
            <p>You must register before you can book any journeys.</p>
             
            <p>To register please print and complete the&nbsp;<a href="http://www.bathnes.gov.uk/sites/default/files/sitedocuments/Parking-and-Travel/Publictransport/bath_dial-a-ride.pdf" target="_blank" title="Bath Dial-a-Ride Leaflet">registration form</a>&nbsp;and return it to the address on the form</p>
             
            <p>or contact the co-ordinator on <a href="tel:441225335019">01225 335019</a></p>
             
            <h3 class="govuk-heading-m">Area Covered and Times of Service</h3>
             
            <p>This service covers the area within the Bath city boundaries, there is a map showing the full extent of the service within the&nbsp;<a href="http://www.bathnes.gov.uk/sites/default/files/sitedocuments/Parking-and-Travel/Publictransport/bath_dial-a-ride.pdf" target="_blank" title="Bath Dial-a-Ride Leaflet">information leaflet</a>.</p>
             
            <p>There are two buses working constantly within the service hours.&nbsp; The service operates between&nbsp;9.30 am and&nbsp;2.30 pm from Monday to Friday excluding Bank Holidays.</p>
             
            <h3 class="govuk-heading-m">Cost</h3>
             
            <p>Return Journey - £6.00</p>
             
            <p>Single Journey - £3.00</p>
             
            <p>Diamond Travel Card holders are entitled to a 50% discount.</p>
             
            <h3 class="govuk-heading-m">Booking Journeys</h3>
             
            <p>Call the co-ordinator on <a href="tel:441225335019">01225 335019</a></p>
             
            <p>Journeys can be booked a maximum of 7 days in advance.</p>
             
            <p>All bookings must be made by 12 noon on the day before the journey.</p>
             
            <ul class="govuk-list govuk-list--bullet">
                            <li>Don’t forget to book your return journey if needed.</li>
                            <li>Please be ready 10 minutes before your journey time.</li>
            </ul>


    </div>


    <div class="govuk-grid-column-one-third">
            <div class="aside-container">
                <aside class="aside" role="complementary">

                             
                </aside>
            </div>
        </div>
    
 
</div>
