---
layout: default
Title: Community Transport
Breadcrumb1_url: section-parking.html
Breadcrumb1_title: Parking & Travel
---


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{> breadcrumb.lv-two-breadcrumb}}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{Title}}</h1>
    <p class="govuk-body-l">
            Community transport schemes operate across Bath and North East Somerset to provide safe, accessible transport for people who cannot use public transport due to disability, age or lack of access to services. You can use them to attend essential appointments, go shopping or to help you play an active part in community life.
    </p>

<a href="community-transport-directory.html" class="govuk-button govuk-button--start">Find a scheme operating near you</a>



   <h2 class="govuk-heading-l">Setting up your own community transport scheme</h2>
   <p class="govuk-body">If you're interested in setting up a community transport scheme, contact your parish council to help assess the demand in your local area. Discuss your idea with the local community and recruit some volunteers who would help to run a new scheme. Proposals can then be put forward to the council. We'll offer guidance and funding subject to certain criteria and budgetary limitations. Contact our Community Transport Officer for more details.</p> 

    </div>
    <div class="govuk-grid-column-one-third">
        <div class="aside-container">
            <aside class="aside" role="complementary">
                <h2 class="govuk-heading-m">Subsection</h2>

                <nav class="aside__nav" role="navigation">
                    <ul class="govuk-list">
                        <li><a href="/parking-travel/shopmobility.html">Shopmobility</a></li>
                        <li><a href="#">Related link</a></li>
                        <li><a href="#" class="bold" aria-label="View more [title of subsection]">View more</a></li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
</div>
