<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <div class="govuk-breadcrumbs">
              <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="#">Home</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="#">Parking &amp; Travel</a>
              </li>
              <li class="govuk-breadcrumbs__list-item" aria-current="page">Community Transport Directory</li>
              </ol>
      </div>
  </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Community transport directory</h1>
            <h2 class="govuk-heading-l">Just show me schemes that cover</h2>
            
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <div class="govuk-checkboxes checkbox-flexbox-row">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                          Bath and surrounding villages
                    </label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                      Keynsham and surrounding villages
                    </label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                      Midsomer Norton area
                    </label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                      Chew Valley area
                    </label>
                  </div>

                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                      Other areas
                    </label>
                  </div>

                  
                </div>
              </fieldset>
            </div>
    </div>
</div>  
<p class="govuk-body-l"><strong>Showing 11 community transport schemes</strong> </p>
<hr>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
    <div class="listing">
        <h3 class="govuk-heading-m">Bath Dial-a-Ride</h2>
            <p>Door-to-door, fully accessible minibus service</p>
            <p>Primarily for older or disabled people, or any resident who cannot use public transport services.</p>
            <p><strong>Telephone:</strong> 01225 335019 <span> <strong> Scheme type:</strong> Dial-a-Ride</span></p>
        <p><strong>Website: </strong><a href="community-transport-bath-dial-ride.html">http://localhost:3000/templates/community-transport-bath-dial-ride.html</a> </p>
    </div>

    <div class="listing">
            <h3 class="govuk-heading-m">Keynsham &amp; District Dial-a-Ride</h3>
            <p>Door-to-door fully accessible minibus service</p>
            <p>Primarily for older or disabled people, or any resident who cannot use public transport services.</p>
            <p><strong>Telephone:</strong> 01225 335019 <span><strong>Type:</strong> Dial-a-Ride</span></p>
            <p><strong>Website: </strong><a href="community-transport-keynsham-dial-ride.html">http://localhost:3000/templates/community-transport-keynsham-dial-ride.html</a> </p>
        </div>

        <div class="listing">
                <h3 class="govuk-heading-m">Midsomer Norton &amp; Radstock Dial-a-Ride </h3>
                <p>Door-to-door fully accessible minibus service</p>
                <p>Primarily for older or disabled people, or any resident who cannot use public transport services.</p>
                <p><strong>Telephone:</strong> 01225 335019 <span><strong>Type:</strong> Dial-a-Ride</span></p>
                <p> <strong>Website: </strong>
                    <a href="location-dial-ride-midsomer-norton.html">http://localhost:3000/templates/location-dial-ride-midsomer-norton.html</a> </p>
            </div>

            <div class="listing">
                    <h3 class="govuk-heading-m">Age UK B&amp;NES</h3>
                    <p>Minibus Service</p>
                    <p>Age UK B&amp;NES is a charitable organisation that offers its clients transport to and from their community social groups and other age uk activities</p>
                    <p>Telephone: 01225 335019</p>
                    <p><a href="https://www.ageuk.org.uk/bathandnortheastsomerset/about-us/contact-us/">https://www.ageuk.org.uk/bathandnortheastsomerset/about-us/contact-us/</a> </p>
                </div>


                    <div class="listing">
                            <h3 class="govuk-heading-m">Bath Community Transport </h3>
                            <p>Minibus Service</p>
                            <p>	A wide range of welfare organisations augment service for the elderly, the disadvantaged and those with impaired mobility</p>
                            <p>Telephone: 01225 832317</p>
                            <p><a href="http://www.ctonline.org.uk/providers/bath-community-transport/">http://www.ctonline.org.uk/providers/bath-community-transport/</a> </p>
                        </div>


                        <div class="listing">
                                <h3 class="govuk-heading-m">Midsomer Norton Community Vehicle Trust</h3>
                                <p>Minibus Service</p>
                                <p>Provide group transport to older and disabled people increasing their independence and confidence.</p>
                                <p>Telephone: 01225 335019</p>
                                <p><a href="http://www.bathnes.gov.uk/services/parking-and-travel/community-transport/list-schemes/midsomer-norton-radstock-community-serv">http://www.bathnes.gov.uk/services/parking-and-travel/community-transport/list-schemes/midsomer-norton-radstock-community-serv</a> </p>
                            </div>


                            <div class="listing">
                                    <h3 class="govuk-heading-m">St Phillip's Community Minibus</h3>
                                    <p>Minibus Service</p>
                                    <p>Transport for older and disabled people, as well as ethnic minorities in top ten multiple deprivation wards in B&amp;NES.</p>
                                    <p>Telephone: 01225 335019</p>
                                    
                                    <p><a href="https://www.stphilipstjames.org/community-work/minibus.html">https://www.stphilipstjames.org/community-work/minibus.html</a> </p>
                                </div>


                                <div class="listing">
                                        <h3 class="govuk-heading-m">Wellow Community Minibus</h3><p>Minibus Service</p>
                                        <p>Available to residents of Wellow.</p>
                                        <p>Telephone: 01225 335019</p>
                                        <p><a href="http://www.wellowparish.info/Group&Societies/Wellow%20Community%20Minibus.htm">http://www.wellowparish.info/Group&Societies/Wellow%20Community%20Minibus.htm</a> </p>
                                    </div>


                                    <div class="listing">
                                            <h3 class="govuk-heading-m">Batheaston Neighbourhood Group</h3>
                                            <p>Car Scheme</p>
                                            <p>Transport for older and disabled people to the Medical Centre, RUH and other medical trips as well as shopping trips for the housebound.</p>
                                            <p>Telephone: 01225 335019</p>
                                            <p><a href="https://batheaston.org/batheaston-neighbourhood-group/">https://batheaston.org/batheaston-neighbourhood-group/</a> </p>
                                        </div>


                                        <div class="listing">
                                                <h3 class="govuk-heading-m">Chew Valley Community Transport</h3>
                                                <p> Car Scheme</p>
                                                <p>Available to residents of the Chew Valley to get to medical appointments.</p>
                                                <p>Telephone: 01225 335019</p>
                                                <p><a href="http://www.bathnes.gov.uk/services/parking-and-travel/community-transport/list-schemes/chew-valley-community-transport">http://www.bathnes.gov.uk/services/parking-and-travel/community-transport/list-schemes/chew-valley-community-transport</a> </p>
                                            </div>


                                            <div class="listing">
                                                    <h3 class="govuk-heading-m">SWAN Volunteer Transport Scheme</h3>
                                                    <p>Car Scheme</p>
                                                    <p>Transport for older, disabled people and families on low income who are unable to access conventional public transport. Providing all social and health journeys across BATHNES. Increasing wellbeing and independence. Decreasing loneliness and isolation.</p>
                                                    <p>Telephone: 01225 335019</p>
                                                    <p><a href="http://swan.btck.co.uk/">http://swan.btck.co.uk/</a> </p>
                                                </div>
    </div>


    <div class="govuk-grid-column-one-third">
            <div class="aside-container">
                <aside class="" role="complementary">
                             
                </aside>
            </div>
        </div>
    
 
</div>
