---
layout: default
Title: Keynsham and District Dial-a-Ride
Breadcrumb1_url: section-parking.html
Breadcrumb1_title: Parking & Travel
Breadcrumb2_url: /parking-travel/community-transport.html
Breadcrumb2_title: Community Transport
Breadcrumb3_url: parking-travel/community-transport-directory.html
Breadcrumb3_title: Community transport directory
---




            <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        {{> breadcrumb.lv-three-breadcrumb}}
                    </div>
                </div>
            <h1 class="govuk-heading-xl">Keynsham and District Dial-a-Ride</h1>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{Title}}</h1>
            
            <h2 class="govuk-heading-l">Registration</h2>
            <p class="govuk-body-l">You must register before you can book any journeys.</p>  
            <p class="govuk-body"> To register, please print and complete the <a href="#">registration form </a> and return it to the address on the form. Alternatively, contact the co-ordinator on 01225 395 321.</p>
            
            <h2 class="govuk-heading-l">Area covered</h2>
            <p class="govuk-body">The following locations are covered: </p> 

            <ul class="govuk-list govuk-list--bullet">
                <li>Keynsham</li>
                <li>Saltford</li>
                <li>Whitchurch Village</li>
                <li>Pensford</li>
                <li>Publow</li>
                <li>Compton Dando</li>
                <li>Chewton Keynsham</li>
                <li>Marksbury</li>
                <li>Farmborough</li>
                <li>Timsbury</li>
                <li>Burnett</li>
                <li>Newton St Loe</li>
                <li>Corston</li>
            </ul>
            <p class="govuk-body">Further details can be found in the information leaflet.</p>
            
            <h2 class="govuk-heading-l">Service times</h2>
            
            <p class="govuk-body">Keynsham: 9am to 4pm from Monday to Friday.</p> 
            <p class="govuk-body">Village service: 9am to 4.45pm from Monday to Thursday and 9am to 4.30pm on Fridays, excluding bank holidays.</p> 
            <p class="govuk-body">All journeys and times are subject to demand.</p> 
            
            <h2 class="govuk-heading-l">Cost</h2>
            <p class="govuk-body">Keynsham and Saltford: £4.00 return</p> 
            <p class="govuk-body">Village service: £5.00 return</p> 
            <p class="govuk-body"><strong>Diamond Travelcard holders are entitled to a 50% discount.</strong> </p> 
            
            <h2 class="govuk-heading-l">Booking</h2>
            <p class="govuk-body"> Keynsham and Saltford: Call 01225 395 321 between 9.30am to 11am on the day before transport is required.</p>
            
        
</div>

    <div class="govuk-grid-column-one-third">
            <div class="aside-container">
                <aside class="aside" role="complementary">
                    <ul class="govuk-list">
                        <h2 class="govuk-heading-s">Related Information</h2>
                        <li><a href="#">Registration form</a> </li>
                        <li><a href="#">Keynsham Dial-a-Ride Website</a></li>
                        <li><a href="#">Follow Keynsham Dial-a-Ride on Facebook </a></li>
                    </ul>
                    
                    
                    

                             
                </aside>
            </div>
        </div>
    
 
</div>
