---
layout: default
Title: Check eligibility for residents parking
Breadcrumb1_title: Parking & Travel
Breadcrumb1_url: section-parking.html
Breadcrumb2_url: section-residents-parking-permits.html
Breadcrumb2_title: Residents parking permits
---

<div class="govuk-grid-row">

<div class="govuk-grid-column-full">

	{{> breadcrumb.lv-three-breadcrumb}}

<h1 class="govuk-heading-xl">This property is in Bath residents parking zone 2</h1>

<p class="govuk-body"><strong>4, Cambridge Terrace, Bath, BA2 6AB</strong><br /><a href="find-parking-zone.html">change address</a></p>

</div>
</div>

<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

<p class="govuk-body">Parking on the street in this area is restricted by permit <strong>8am to 6pm Monday to Saturday</strong>.</p>

<p class="govuk-body"><a href="http://www.bathnes.gov.uk/sites/default/files/zone_2.pdf" class="govuk-button">View a map of zone 2</a></p>

<div class="breakout-box">

	<h2 class="govuk-heading-m">This property is allowed up to 2 permits</h2>
	
	<ul class="govuk-list">
		<li>1st permit: <strong>&pound;100 for 12 months</strong> (or <strong>&pound;60 for 6 months</strong>)</li>
		<li>2nd permit: <strong>&pound;160 for 12 months</strong> (or <strong>&pound;90 for 6 months</strong>)</li>
	</ul>

	<div class="govuk-inset-text">
<p class="govuk-body">Our records show this property currently has <strong>2 permits already issued</strong>. You won't be able to apply for a permit until one has been cancelled. If you are moving into a property you can apply to take over a permit once you have your new council tax reference.</p>
	</div>


	<h2 class="govuk-heading-m">Visitor parking</h2>
	
	<ul class="govuk-list">
		<li><strong>&pound;10 for 100 hours</strong> (maximum 1000 hours per year) bought online</li>
		<li><strong>Or</strong> you can buy paper scratch cards for <strong>&pound;10 for 10 days</strong> (maximum 100 days per annum) </li>
	</ul>

</div>

	<h2 class="govuk-heading-l">How to buy</h2>

<p class="govuk-body">Residents parking and visitor parking permits can be bought online. <strong>You'll need your council tax bill reference</strong> in order to show that you live at this address. Applying for a permit online usually takes around 10 minutes and your permit will be activated immediately.</p>

<p class="govuk-body"><a href="https://secure.mipermit.com/bathnes/Register/ProductRegister.aspx?PermitType=RESIDENT" class="govuk-button">Buy residents or visitor permits online</a></p>

	<h3 class="govuk-heading-m">Paper visitor permits</h3>
<p class="govuk-body">If you'd prefer to use paper scratch card visitor permits, you can buy these in-person from a <a href="">One-stop shop</a>. If your name is not on the Council Tax accout where you live then please take a signed, current copy of your tenancy agreement with you.</p>

<h2 class="govuk-heading-l">Please note</h2>
<ul class="govuk-list govuk-list--bullet">
<li>You must live at this address at least 4 days per week to qualify for a permit</li>
<li>Permits for this address also qualify you to park in <a href="">Charlotte Street car park</a></li>
<li>Your permit will only allow you to park in zone 3</li>
<li>Your permit will not allow you to park in a pay &amp; display only or in time-limited waiting parking bays.</li>
<li>Motorcycles <strong>do not</strong> require a permit to park in the zone.</li>
</ul>

<p class="govuk-body">For full permit rules please see the <a href="http://www.bathnes.gov.uk/sites/default/files/terms_and_conditions_v1.40_august18.pdf">terms &amp; conditions</a>.</p>

<div class="breakout-box">
	<h2 class="govuk-heading-m">Residents car parks</h2>
	<p class="govuk-body">This property is within the catchment area for <strong>James Street West car park</strong> where a reserved space costs <strong>&pound;401.50 for 12 months</strong> (or <strong>&pound;200.75 for 6 months</strong>)</li>
	</ul>

	<div class="govuk-inset-text">
	<p class="govuk-body">Due to very high demand there are currently no spaces but you can <a href="">apply to join the waiting list</a>.</p> 
	</div>
</div>




</div>
</div>
