---
layout: default
Title: Check eligibility for residents parking
Breadcrumb1_title: Parking & Travel
Breadcrumb1_url: section-parking.html
Breadcrumb2_url: section-residents-parking-permits.html
Breadcrumb2_title: Residents parking permits
---


<div class="govuk-grid-row">

<div class="govuk-grid-column-full">

	{{> breadcrumb.lv-three-breadcrumb}}

<h1 class="govuk-heading-xl">This property is in Bath residents parking zone 5</h1>

<p class="govuk-body"><strong>42 Twining Street, Bath, BS4 9AU</strong><br /><a href="find-parking-zone.html">change address</a></p>

</div>
</div>

<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

<p class="govuk-body">Parking on the street in this area is restricted by permit <strong>8am to 6pm Monday to Saturday</strong>.</p>
<p class="govuk-body"><a href="http://www.bathnes.gov.uk/sites/default/files/zone_5.pdf" class="govuk-button">View a map of zone 5</a></p>

<div class="breakout-box">

	<h2 class="govuk-heading-l">Not a residential address</h2>
	<p class="govuk-body">This property is <strong>not entitled to any residential parking permits or visitor permits</strong> because it is not listed as a residential address. You may be entitled to <a href="">business parking permits</a>.</p>

</div>

<h2 class="govuk-heading-m">What are my options?</h2>
<ul class="govuk-list govuk-list--bullet">
<li>For short-term use you may want to look at <a href="">nearby car parks and on-street parking</a>.</li>
<li>You might also want to consider joining a <a href="">city car sharing club</a></li>
<li>Bath also has extensive <a href="">public transport links</a></li>
<li>If you do not agree with this entitlement ruling you have the <a href="">right to appeal</a>.</li>
</ul>


</div>
</div>
