---
layout: default
Title: Check eligibility for residents parking
Breadcrumb1_title: Parking & Travel
Breadcrumb1_url: section-parking.html
Breadcrumb2_url: section-residents-permits.html
Breadcrumb2_title: Residents parking permits
---


<div class="govuk-grid-row">

<div class="govuk-grid-column-full">

  {{> breadcrumb.lv-three-breadcrumb}}

</div>
</div>

<div class="govuk-panel banes-highlight left-align govuk-!-margin-top-4 govuk-!-margin-bottom-7">

	<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

	<h1 class="govuk-heading-m govuk-!-margin-bottom-0">12, Armshore Close, Midsomer Norton, BS39 7SW</h1>
	<p class="govuk-body"><a href="find-parking-zone.html">change address</a></p>

	</div><!-- /column-full -->
	</div><!-- /govuk-grid-row -->

	<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">

	<p class="govuk-body"><strong class="govuk-!-font-size-36">This property is not in a residents parking zone</strong></p>

	</div><!-- /column-half -->

	<div class="govuk-grid-column-one-half">

<p class="govuk-body">You can park on the street free of charge as long as you observe all other traffic and parking regulations (e.g. yellow lines).</p>

	</div><!-- /column-half -->

	</div><!-- /govuk-grid-row -->

</div><!-- /govuk-panel -->
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

<h2 class="govuk-heading-l">What are my options?</h2>
<ul class="govuk-list govuk-list--bullet">
<li>If you experience problems parking outside your home and would like us to consider introducing a new residents parking scheme in your area you can <a href="">request a zone</a>.</li>
</ul>


</div>

<div class="govuk-grid-column-one-third">

        <aside class="aside" role="complementary">            
					<h2 class="govuk-heading-m">Need to park in Bath?</h2>

					<ul class="govuk-list">

						<li><a href="https://secure.mipermit.com/bathnes/Register/ProductRegister.aspx?PermitType=RESSAVER">BANES residents get a 10% discount on parking</a></li>
					</ul>
    </aside>
</div>
</div>
