---
Title: Find parking in Keynsham
Breadcrumb1_title: Parking & Travel
Breadcrumb1_url: section-parking.html

---

<div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
                {{> breadcrumb.lv-two-breadcrumb}}
        </div>
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      
        <h1 class="govuk-heading-xl">{{Title}}</h1>

        <h2 class="govuk-heading-l">Car parks</h2>

        <p class="govuk-body">
            <a href="https://www.google.com/maps/d/u/0/viewer?mid=1RJsLXSYM4ofNlTpDABhjv9aqkgs&ll=51.415011841526145%2C-2.4971613999999818&z=17" class="govuk-button" target="_blank">See all Keynsham car parks on a map</a>
        </p>

        <p class="govuk-body">There are 8 council-run car parks in Keynsham:</p>
        <ul class="govuk-list">
            <li><a href="">Ashton Way</a></li>
            <li><a href="">Ashton Way East</a></li>
            <li><a href="">Bath Hill East</a></li>
            <li><a href="">Civic Centre</a></li>
            <li><a href="">Fox and Hounds</a></li>
            <li><a href="">The Labbott South</a></li>
            <li><a href="">The Labbott North</a></li>
            <li><a href="">Station Road</a></li>
        </ul>

         <h2 class="govuk-heading-l">On-street parking</h2>

        <p class="govuk-body">There is no paid-for on-street parking in Keynsham. You can park on the road where it is safe to do so, but you must observe any restrictions marked including yellow lines.</p>

    </div>


    <div class="govuk-grid-column-one-third">
        <div class="aside-container">
            <aside class="aside" role="complementary">
                <h2 class="govuk-heading-m">Want to avoid the traffic?</h2>

                <nav class="aside__nav" role="navigation">
                    <ul>
                        <li><a href="https://journeyplanner.travelwest.info/directions">Find a train or bus</a></li>
                        <li><a href="https://cycleplanner.betterbybike.info/route-planning">Travel by bike</a></li>

                    </ul>
                </nav>
            </aside>
        </div>
    </div>

</div>
