---
layout: default
Title: Check eligibility for residents parking
Breadcrumb1_title: Parking & Travel
Breadcrumb1_url: section-parking.html
Breadcrumb2_url: section-residents-parking-permits.html
Breadcrumb2_title: Residents parking permits
---


<div class="govuk-grid-row">

<div class="govuk-grid-column-full">

	{{> breadcrumb.lv-three-breadcrumb}}

</div>
</div>

<div class="govuk-panel banes-highlight left-align govuk-!-margin-top-4 govuk-!-margin-bottom-7">

	<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

	<h1 class="govuk-heading-m govuk-!-margin-bottom-0">42 Twining Street, Bath, BS4 9AU</h1>
	<p class="govuk-body"><a href="find-parking-zone.html">change address</a></p>

	</div><!-- /column-full -->
	</div><!-- /govuk-grid-row -->

	<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">

	<p class="govuk-body">This property is in<br />
	<strong class="govuk-!-font-size-36">Bath parking zone 5</strong></p>

	<p class="govuk-body">Permits in operation<br />
	<strong>8am to 6pm Monday to Saturday</strong><br />
	<a href="http://www.bathnes.gov.uk/sites/default/files/zone_2.pdf">View map of zone</a></p>


	</div><!-- /column-half -->

	<div class="govuk-grid-column-one-half">

		<div class="govuk-warning-text">
		  <span class="govuk-warning-text__icon banes-warning-l" aria-hidden="true">!</span>
		  <strong class="govuk-warning-text__text govuk-!-font-size-24">
		    <span class="govuk-warning-text__assistive">Warning</span>
		    This property is not listed as a residential address
		  </strong>
		</div>

	</div><!-- /column-half -->

	</div><!-- /govuk-grid-row -->

</div><!-- /govuk-panel -->

<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">

<h2 class="govuk-heading-l">Why can't I get a permit?</h2>
	<p class="govuk-body">This property is <strong>not entitled to any residential parking permits or visitor permits</strong> because it is not listed as a residential address. You may be entitled to <a href="/parking-travel/section-business-permits.html">business parking permits</a>.</p>

<h2 class="govuk-heading-l">What are my options?</h2>
<ul class="govuk-list govuk-list--bullet">
<li>For short-term use you may want to look at <a href="">nearby car parks and on-street parking</a>. Residents <a href="https://secure.mipermit.com/bathnes/Register/ProductRegister.aspx?PermitType=RESSAVER">apply for a 10% discount</a> on car parking charges.</li>
<li>You might also want to consider joining a <a href="">city car sharing club</a></li>
<li>Bath also has extensive <a href="">public transport links</a></li>
<li>If you do not agree with this entitlement ruling you have the <a href="">right to appeal</a>.</li>
<li>If you believe this building has been incorrectly classified, please <a href="http://www.bathnes.gov.uk/contact-us">get in touch</a>. Or you might need to apply for <a href="http://www.bathnes.gov.uk/services/planning-and-building-control/planning-application-forms-and-checklists">change of use</a>.</li>
</ul>

<h3 class="govuk-heading-m">Motorcycles</h2>
<p class="govuk-body">Please note that you <strong>do not</strong> need a permit to park a motorcycle on the street</p>


</div>
</div>
