---
layout: default
Title: Check eligibility for residents parking
Breadcrumb1_title: Parking & Travel
Breadcrumb1_url: section-parking.html
Breadcrumb2_url: section-residents-permits.html
Breadcrumb2_title: Residents parking permits
---

<div class="govuk-grid-row">

<div class="govuk-grid-column-full">

	{{> breadcrumb.lv-three-breadcrumb}}

</div>
</div><!-- /govuk-grid-row -->

<div class="govuk-panel banes-highlight left-align govuk-!-margin-top-4 govuk-!-margin-bottom-7">

	<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

	<h1 class="govuk-heading-m govuk-!-margin-bottom-0">4, Cambridge Terrace, Bath, BA2 6AB</h1>
	<p class="govuk-body"><a href="find-parking-zone.html">change address</a></p>

	</div><!-- /column-full -->
	</div><!-- /govuk-grid-row -->

	<div class="govuk-grid-row">
	<div class="govuk-grid-column-one-half">

	<p class="govuk-body">This property is in<br />
	<strong class="govuk-!-font-size-36">Bath parking zone 2</strong></p>

	<p class="govuk-body">Permits in operation<br />
	<strong>8am to 6pm Monday to Saturday</strong><br />
	<a href="http://www.bathnes.gov.uk/sites/default/files/zone_2.pdf">View map of zone</a></p>


	</div><!-- /column-half -->

	<div class="govuk-grid-column-one-half">

	<p class="govuk-body">This property is allowed up to<br />
	<strong><span class="govuk-!-font-size-36">2</span> <span class="govuk-!-font-size-27">residents parking permits</span></strong><br />
	<strong class="govuk-!-font-size-36">1000<span class="govuk-!-font-size-27"> hours visitor parking</span></strong></p>

	<p class="govuk-body">(see costs and exclusions below)</p>

	</div><!-- /column-half -->

	</div><!-- /govuk-grid-row -->

</div><!-- /govuk-panel -->

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<h2 class="govuk-heading-l">Permit costs</h2>

<p class="govuk-body">This property is entitled to a maximum of 2 residents parking permits.</p>

<ul class="govuk-list govuk-list--bullet">
	<li>1st permit: <strong>&pound;100 for 12 months</strong> (or <strong>&pound;60 for 6 months</strong>)</li>
	<li>2nd permit: <strong>&pound;160 for 12 months</strong> (or <strong>&pound;90 for 6 months</strong>)</li>
</ul>


<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Caution</span>
    In shared occupancy houses (HMOs) there may not be enough permits available for each tenant to have one
  </strong>
</div>

<details class="govuk-details"><summary class="govuk-details__summary"> <span class="govuk-details__summary-text"> About permits for shared houses </span> </summary>

<div class="govuk-details__text">If your house is sub-divided into separate sub-dwellings (this is sometimes called an HMO) there may not be enough parking permits available for each dwelling to have its own permit. If you are planning to move into a building like this, please <a href="">contact us</a> to check how many permits are already assigned.</div>
</details>

<h3 class="govuk-heading-m">Visitor parking</h3>

<ul class="govuk-list">
	<li><strong>&pound;10 for 100 hours</strong> (maximum 1000 hours per year) bought online</li>
	<li><strong>Or</strong> you can buy paper scratch cards for <strong>&pound;10 for 10 days</strong> (maximum 100 days per annum) </li>
</ul>

<p class="govuk-body"><a href="/parking-travel/section-residents-permits.html#how-to-use-visitor-permits">How to use visitor permits</a></p>

	<h2 class="govuk-heading-l">How to buy</h2>

<p class="govuk-body">Residents parking and visitor parking permits can be bought online. <strong>You'll need your council tax account number</strong> in order to show that you live at this address. Applying for a permit online usually takes around 10 minutes and your permit will be activated immediately.</p>

<p class="govuk-body"><a href="https://secure.mipermit.com/bathnes/Register/ProductRegister.aspx?PermitType=RESIDENT" class="govuk-button">Buy residents or visitor permits online</a></p>

	<h3 class="govuk-heading-m">Paper visitor permits</h3>
<p class="govuk-body">If you'd prefer to use paper scratch card visitor permits, you can buy these in-person from a <a href="">One-stop shop</a>. If your name is not on the Council Tax accout where you live then please take a signed, current copy of your tenancy agreement with you.</p>

<h2 class="govuk-heading-l">Please note</h2>
<ul class="govuk-list govuk-list--bullet">
<li>You must live at this address at least 4 days per week to qualify for a permit</li>
<li>Permits for this address also qualify you to park in <a href="">Charlotte Street car park</a></li>
<li>Your permit will only allow you to park in zone 2</li>
<li>Your permit will not allow you to park in a pay &amp; display only or in time-limited waiting parking bays.</li>
<li>Motorcycles <strong>do not</strong> require a permit to park in the zone.</li>
</ul>

<p class="govuk-body">For full permit rules please see the <a href="http://www.bathnes.gov.uk/sites/default/files/terms_and_conditions_v1.40_august18.pdf">terms &amp; conditions</a>.</p>

<div class="breakout-box">
	<h2 class="govuk-heading-m">Residents car parks</h2>
	<p class="govuk-body">This property is within the catchment area for <strong>James Street West car park</strong> where a reserved space costs <strong>&pound;401.50 for 12 months</strong> (or <strong>&pound;200.75 for 6 months</strong>)</li>
	</ul>

	<div class="govuk-inset-text">
	<p class="govuk-body">Due to very high demand there are currently no spaces but you can <a href="http://www.bathnes.gov.uk/sites/default/files/residents_car_park_permit_application_form_no_prices.docx">apply to join the waiting list</a> <em>(MS Word form, 51KB)</em>.</p> 
	</div>
</div>


</div>
</div>
