---
layout: default
Title: Find parking in Bath
Breadcrumb1_title: Parking & Travel
Breadcrumb1_url: section-parking.html
---

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
     {{> breadcrumb.lv-two-breadcrumb}}
	</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">{{Title}}</h1>

<h2 class="govuk-heading-l">Car parks</h2>

<p class="govuk-body"><a href="https://www.google.co.uk/maps/search/Banes+car+park+bath/@51.3820627,-2.359333,15z" class="govuk-button" target="_blank">See all Bath car parks on a map</a></p>

<h3 class="govuk-heading-m">Short stay only</h3>

<ul class="govuk-list">
<li><a href="location-parking-leisure.html">Bath Sports and Leisure Centre</a></li>
<li><a href="">Broad Street</a></li>
<li><a href="">Cattle Market</a></li>
<li><a href="">Claverton Street</a></li>
<li><a href="location-parking-kings-mead.html">Kingsmead Square</a></li>
</ul>

<h3 class="govuk-heading-m">Short and long stay</h3>

<ul class="govuk-list">
<li><a href="">Avon Street</a> </li>
<li><a href="location-parking-charlotte.html">Charlotte Street</a></li>
<li><a href="location-parking-manvers.html">Manvers Street</a></li>
</ul>


<h3 class="govuk-heading-m">Disabled parking</h3>
<p class="govuk-body">All car parks except Cattle Market and Claverton Street have disabled spaces.</p>


<h3 class="govuk-heading-m">Parking for taller vehicles</h3>
<p class="govuk-body">Height restrictions are shown in the detailed listing for each car park. <a href="location-parking-charlotte.html">Charlotte Street car park</a> does not have a height restriction and is recommended for vans, motorhomes, campervans and other tall vehicles.</p>

<h2 id="on-street" class="govuk-heading-l">On-street parking</h2>

<p class="govuk-body">A number of streets in central Bath have paid-for, on-street parking.</p>

<a href="" class="govuk-button" target="_blank">See on-street parking on a map</a>


<h3 class="govuk-heading-m">On-street parking charges</h3>

<ul class="govuk-list list-bullet">
<li>On-street parking is normally more expensive than using a car park in a similar location, please check the signs at the roadside for details.</li>
<li>You can <a href="info-pay-by-phone.html">pay by phone</a> at all on-street pay and display locations</li>
<li>Pay and display machines accept coins (but not notes)</li>
<li>Charges apply Monday&ndash;Saturday 8am&ndash;7pm. At other times, and on Bank Holidays, you can park here for free.</li>
</ul>

<p class="govuk-body">If you are a Blue Badge holder, view details of <a href="">where you can use your badge</a> and any charges that may apply.</p>

<h3 class="govuk-heading-s">Motorcycles</h3>
<p class="govuk-body">There is no charge for motorcyclists at these on-street locations. However, maximum stay restrictions also apply and motorcycles are required to be parked within designated bays.</p>

<h2 id="on-street" class="govuk-heading-l">Residents and business parking permits</h2>

<p class="govuk-body">For details of residents and business parking permits in Bath, see <a href="">parking permits</a>.</p>


</div>

<div class="govuk-grid-column-one-third">
<aside class="aside" role="complementary">
<h2 class="govuk-heading-m">Want to avoid the traffic?</h2>

<nav class="govuk-aside__nav" role="navigation">
<ul class="govuk-list">
<li><a href="https://travelwest.info/park-ride/bath" target="_blank">Park and Ride</a></li>
<li><a href="https://journeyplanner.travelwest.info/directions">Find a train or bus</a></li>
<li><a href="https://cycleplanner.betterbybike.info/route-planning">Travel by bike</a></li>
</ul>
</nav>
</aside>
</div>
</div>
