---
layout: default
Title: Check eligibility for residents parking
Breadcrumb1_title: Parking & Travel
Breadcrumb1_url: section-parking.html
Breadcrumb2_url: section-residents-permits.html
Breadcrumb2_title: Residents parking permits
---


<div class="govuk-grid-row">

<div class="govuk-column-full">

	{{> breadcrumb.lv-three-breadcrumb}}

<h1 class="govuk-heading-xl">Check eligibility for residents parking</h1>

<p class="govuk-body">Find out the residents parking zone and permit costs (including visitor permits) for a property in Bath or Keynsham.</p>


	<form action="find-parking-zone3a.html">

	<label class="govuk-label">Post code</label>
	<p class="govuk-body"><strong>BA2 6AB</strong> (<a href="find-parking-zone.html">change</a>)</p>

	<div class="govuk-form-group">
		<label class="govuk-label" for="street">Address</label>
		<select class="govuk-select banes-shrink-to-contents" id="street">
		<option value="">Please choose...</option>
		<option value="http://www.google.com">1, Cambridge Terrace, Bath</option>
		<option value="http://www.google.com">2, Cambridge Terrace, Bath</option>
		<option value="http://www.google.com">3, Cambridge Terrace, Bath</option>
		<option value="http://www.google.com">4, Cambridge Terrace, Bath</option>
		<option value="http://www.google.com">5, Cambridge Terrace, Bath</option>
		<option value="http://www.google.com">6, Cambridge Terrace, Bath</option>
		</select>
	</div>

	<input type="submit" class="govuk-button" value="Continue" />

	</form>

</div>

</div>
