---
layout: default
Title: Holiday let parking permits
Breadcrumb1_title: Parking & Travel
Breadcrumb1_url: section-parking.html
Breadcrumb2_title: Business parking permits
Breadcrumb2_url: section-business-permits.html
---
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{> breadcrumb.lv-three-breadcrumb}}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{Title}}</h1>
        <p class="govuk-body-l">Avoid your guests having problems when parking near your holiday let in a residents parking zone by registering for a holiday let parking permit.</p>
        <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->
        <h2 class="govuk-heading-l">Permits allow you to:</h2>
        
        <ul class="govuk-list govuk-list--bullet">
                <li>Park in residents parking bays or paid parking bays in the residents parking zone your holiday let is located in</li>
        </ul>
       
        <h2 class="govuk-heading-l">How much do they cost?</h2>

        <p>Holiday let permits cost £100 each</p>

        <h2 class="govuk-heading-l">Who can apply?</h2>
        <p class="govuk-body">Any proprietor of any holiday let within a parking zone. The proprietor must pay Business Rates on the property and the property must be available for let for over 140 days of the year.</p>

        <p>You <strong>will</strong> need to provide</p>
        <ul class="govuk-list govuk-list--bullet">
                <li>Evidence that the holiday let is registered</li>
                <li>A copy of a current business rates demand </li>
        </ul>
        <a href="#" role="button" class="govuk-button govuk-button--start">Apply now</a>
        <div class="govuk-inset-text">
                It can take up to 10 days for your application to progress.
        </div>
                <h2 class="govuk-heading-l">Using your permit</h2>
                <p>The paper permit will need to be clearly displayed in the windscreen of any vehicle used by guests that are parked in a residents parking zone. The permit should be clearly filled out and show that it has been issued to your hotel/guest house.</p>
                
                <p> <strong>Failure to display a valid permit may result in a parking ticket being issued to your guests.</strong></p>
                
                       
    </div>

    <div class="govuk-grid-column-one-third">
                <div class="aside-container">
                    <aside class="aside" role="complementary">
                                <ul class="govuk-list">
                                                <h2 class="govuk-heading-s">Related Information</h2>
                                                <li><a href="http://www.bathnes.gov.uk/sites/default/files/sitedocuments/Parking-and-Travel/Parking-Permits/bathnes_leaflet_trade_003_-_april_2018.pdf">Trade parking permits leaflet</a> </li>
                                                <li><a href="/parking-travel/section-residents-permits.html">Residents parking permits</a> </li>
                                            </ul>
                        
                        
                        
    
                                 
                    </aside>
                </div>
            </div>
</div>
