---
layout: default
Title: How to pay for parking by phone
Breadcrumb1_title: Parking & Travel
Breadcrumb1_url: section-parking.html
---

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
     {{> breadcrumb.lv-two-breadcrumb}}
    </div>
</div><!-- /row -->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
	<h1 class="govuk-heading-xl">{{Title}}</h1>

       <h2 class="govuk-heading-l">Smartphone app</h2>

        <p class="govuk-body">Download the <strong>MiPermit</strong> <a href="https://play.google.com/store/apps/details?id=com.mipermit.android">Android app</a> or <a href="http://itunes.apple.com/gb/app/mipermit/id338671523?mt=8">Apple iOS app</a> to your phone (you might want to do this before you arrive, to ensure you have a good network connection). You'll need to create an account and register your vehicle before you can make your first payment.</p>

	<p class="govuk-body"><a href="https://play.google.com/store/apps/details?id=com.mipermit.android"><img src="/assets/toolkit/images/logo-android.png" width="140" alt="" /></a>&nbsp;&nbsp;<a href="http://itunes.apple.com/gb/app/mipermit/id338671523?mt=8"><img src="/assets/toolkit/images/logo-app-store.png" width="140" alt="" /></a></p>

        <h3 class="govuk-heading-m">Do you live locally?</h3>

        <p class="govuk-body">Local residents can <a href="https://secure.mipermit.com/bathnes/Register/ProductRegister.aspx?PermitType=RESSAVER" target="_blank">get a 10% discount</a> (you must register and apply for this before paying for your parking).</p>


        <h2 class="govuk-heading-l">Text message</h2>

        <h3 class="govuk-heading-m">New customers</h3>

        <p class="govuk-body">Send an SMS to <strong>61600</strong> with the word <strong>PARK</strong> and your vehicle registration number. For example:</p>

        <p class="govuk-body"><strong>PARK  GY19GGK</strong></p>

        <p class="govuk-body">Our automated system will call you back for the following information.</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>Car park location number</li>
            <li>Your payment card details</li>
            <li>Whether you want to receive an SMS reminder 20 minutes before the stay expires</li>
        </ul>


        <h3 class="govuk-heading-m">Already registered?</h3>

        <p class="govuk-body">Send an SMS text message to <strong>61600</strong> with the word <strong>PARK</strong> and the location number and duration in hours or minutes. For example:</p>

        <p class="govuk-body"><strong>PARK  702233  30mins</strong></p>

        <p class="govuk-body"><strong>PARK  702233  90mins</strong></p>

        <p class="govuk-body"><strong>PARK  702233  2hrs</strong></p>

        <p class="govuk-body"><strong>PARK  702233  1day</strong></p>

        <p class="govuk-body">If you want to add a new vehicle to your account, or have more than one vehicle on your account already, you can stipulate which vehicle to use by adding the registration number to the end of the text message. For example:</p>

        <p class="govuk-body"><strong>PARK  702233  30mins  GY19GGK</strong></p>

        <p class="govuk-body">Please note that once you have more than one vehicle on your account, you will need to add the registration number of the vehicle you wish to park to all messages. If you do not, the system will take the last vehicle added to your account as default.</p>

        <h3 class="govuk-heading-m">Extending your stay</h3>

        <p class="govuk-body">To extend your stay, send a message to <strong>61600</strong> with the word <strong>EXTEND</strong> and the duration to extend by. For example:</p>

        <p class="govuk-body"><strong>EXTEND 30mins</strong>

        <p class="govuk-body">You won't be able to extend a stay past its opening hours, or if the location has a maximum stay limit.</p>

        <h3 class="govuk-heading-m">Do you live locally?</h3>

        <p class="govuk-body">Local residents can <a href="https://secure.mipermit.com/bathnes/Register/ProductRegister.aspx?PermitType=RESSAVER" target="_blank">get a 10% discount</a> (you must register and apply for this before paying for your parking).</p>

        <h2 class="govuk-heading-l">Website</h2>

        <p class="govuk-body">You can also register, manage your account and pay for parking or permits online at <a href="https://secure.mipermit.com/bathnes/Application/Login.aspx">https://secure.mipermit.com/bathnes/</a>.</p>

    </div>

    <div class="govuk-grid-column-one-third">
            <aside class="aside" role="complementary">
                <h2 class="govuk-heading-m">10% discount for local residents</h2>

                <nav class="govuk-aside__nav" role="navigation">
                    <ul class="govuk-list">
                        <li><a href="https://secure.mipermit.com/bathnes/Register/ProductRegister.aspx?PermitType=RESSAVER" target="_blank">Get your parking discount</a></li>

                    </ul>
                </nav>
            </aside>
    </div>
</div>
