---

Title: Kings Mead Square car park
Breadcrumb1_title: Parking & Travel
Breadcrumb1_url: section-parking.html
Breadcrumb2_url: find-parking-bath.html
Breadcrumb2_title: Find parking in Bath
---

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
       
            {{> breadcrumb.lv-three-breadcrumb}}

<!--
        <a href="/templates/find-parking.html" class="link-back">All car parks</a>
    
-->

        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{{Title}}</h1>

        <p class="govuk-body-l">Kingsmead Street, Bath BA1 2AA</p>
        <p><a class="govuk-button" href="https://www.google.co.uk/maps/place/Kingsmead+Square+Car+Park/@51.3815095,-2.3662312,17z/data=!4m12!1m6!3m5!1s0x487181142304d25f:0x9f3788772e340015!2sKingsmead+Square+Car+Park!8m2!3d51.3815062!4d-2.3640372!3m4!1s0x487181142304d25f:0x9f3788772e340015!8m2!3d51.3815062!4d-2.3640372" target="_blank">View on a map</a></p>

            <div class="data" style="margin-top: 50px;">
                    <span class="data-item bold-medium">98 spaces currently available</span>
                    <img src="/assets/patterns/images/progress-green.png" width="330" />
                    <span class="data-item">21% full and filling up</span>
                </div>

<!--
        <div class="breakout-box breakout-box-twitter-update">
                <h3 class="bold-medium">Bath Sports Centre Car Park is currently closed for resurfacing. We will be opening again on Monday at 6:30am.</h3> 
            </div>
-->


        <h2 class="govuk-heading-l">
        Facilities
        </h2>    
        <ul class="govuk-list govuk-list---bullet">
            <li>90 spaces</li>
            <li>5 disabled spaces</li>
            <li>Maximum stay 4 hours</li>
            <li>Open 24hrs a Day</li>
            <li>Height Restriction: 6 feet 6 inches / 1.98 metres</li>
        </ul>
        
            <h2 class="govuk-heading-l">Charges</h2>

            <table style="max-width: 20em;">
                    <thead>
                        <tr>
                            <th scope="col">Hours</th>
                            <th class="numeric" scope="col">Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1hr</th>
                            <td class="numeric">£1.60</td>
                        </tr>
                        <tr>
                            <th scope="row">2hrs</th>
                            <td class="numeric">£4.30</td>
                        </tr>
                        <tr>
                            <th scope="row">3hrs</th>
                            <td class="numeric">£5.40</td>
                        </tr>
                        <tr>
                            <th scope="row">4hrs</th>
                            <td class="numeric">£7.40</td>
                        </tr>
                               
                    </tbody>
                </table>

                <ul class="govuk-list govuk-list--bullet" style="margin-top: 40px;">
                <li>Charges apply <strong>Monday&ndash;Sunday 8am&ndash;8pm, including bank holidays</strong></li>
                <li>You can pay using <a href="https://secure.mipermit.com/bathnes/application/home.aspx">MiPermit</a>, our cashless payment system, or with coins</li>
                <li>Charges apply to Blue Badge holders unless specified otherwise by signage</li>
                <li>Please refer to signage located in car parks for further information including bank holiday charges</li>
            </ul>


    </div>
    
    <div class="govuk-grid-column-one-third">
        <div class="aside-container">
            <aside class="aside" role="complementary">


                <h2 class="govuk-heading-m">Pay for parking</h2>

                <nav class="aside__nav" role="navigation">
                    <ul>
                        <li class="mobile-only"><a href="#">Download iOS app</a></li>
                        <li class="mobile-only"><a href="#">Download Android app</a></li>
                        <li class="desktop-only"><a href="https://secure.mipermit.com/bathnes/Account/PayAndStayAdd.aspx">Pay using MiPermit</a></li>
                        <li><a href="https://secure.mipermit.com/bathnes/Application/ModuleLander.aspx">Buy a season parking permit</a></li>
                       
                    </ul>
                </nav>


                <h2 class="govuk-heading-m" style="margin-top: 40px">More parking nearby</h2>

                <nav class="aside__nav" role="navigation">
                    <ul>
                        <li><a href="/templates/location-parking-charlotte.html">Charlotte Street car park</a></li>
                        <li><a href="https://en.parkopedia.co.uk/parking/meter/queens_parade-4/ba1/bath/" target="_blank">Queen's Parade</a> has on-street parking</li>
                        <!-- <li><a href="https://en.parkopedia.co.uk/parking/meter/james_street_west/ba1/bath/" target="_blank">James Street West</a>, <a href="https://en.parkopedia.co.uk/parking/meter/green_park-1/ba1/bath/" target="_blank">Green Park</a> and <a href="https://en.parkopedia.co.uk/parking/meter/monmouth_street-2/ba1/bath/" target="_blank">Monmouth Street</a> have on-street parking</li>
                        -->
                    </ul>
                </nav>

                 <h2 class="govuk-heading-m" style="margin-top: 40px">Avoid the traffic</h2>

                <nav class="aside__nav" role="navigation">
                    <ul>
                        <li><a href="https://journeyplanner.travelwest.info/directions">Find a train or bus</a></li>
                        <li><a href="https://cycleplanner.betterbybike.info/route-planning">Travel by bike</a></li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>

</div>