---
Title: Bath Sports and Leisure Centre car park
Breadcrumb1_title: Parking & Travel
Breadcrumb1_url: section-parking.html
Breadcrumb2_url: find-parking-bath.html
Breadcrumb2_title: Find parking in Bath
---

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
            {{> breadcrumb.lv-three-breadcrumb}}
       

<!--
        <a href="/templates/find-parking.html" class="link-back">All car parks</a>
    
-->

        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{{Title}}</h1>

        <p class="govuk-body-l">North Parade Road, Bath BA2 4ET</p>
        <p><a class="govuk-button" href="https://www.google.co.uk/maps/place/Bath+Sports+and+Leisure+Centre/@51.3813504,-2.3565477,17z/data=!3m1!4b1!4m5!3m4!1s0x4871810de7413029:0x9dd743565bd403c0!8m2!3d51.3813504!4d-2.354359" target="_blank">View on a map</a></p>

            <div class="data" style="margin-top: 50px;">
                    <span class="data-item bold-medium">103 spaces currently available</span>
                    <img src="/assets/patterns/images/progress-green.png" width="330" />
                    <span class="data-item">21% full</span>
                </div>

<!--
        <div class="breakout-box breakout-box-twitter-update">
                <h3 class="bold-medium">Bath Sports Centre Car Park is currently closed for resurfacing. We will be opening again on Monday at 6:30am.</h3> 
            </div>
-->


        <h2 class="govuk-heading-l">
        Facilities
        </h2>    
        <ul class="govuk-list govuk-list--bullet">
            <li>123 spaces</li>
            <li>6 disabled spaces (Disabled Parking Accreditation)</li>
            <li>Maximum stay 4 hours</li>
            <li>Open 24hrs a Day</li>
            <li>Height Restriction: 6 feet 6 inches / 1.98 metres</li>
        </ul>
        
            <h2 class="govuk-heading-l">Charges</h2>

            <table style="max-width: 20em;">
                    <thead>
                        <tr>
                            <th scope="col">Hours</th>
                            <th class="numeric" scope="col">Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1hr</th>
                            <td class="numeric">£1.60</td>
                        </tr>
                        <tr>
                            <th scope="row">2hrs</th>
                            <td class="numeric">£4.30</td>
                        </tr>
                        <tr>
                            <th scope="row">3hrs</th>
                            <td class="numeric">£5.40</td>
                        </tr>
                        <tr>
                            <th scope="row">4hrs</th>
                            <td class="numeric">£7.40</td>
                        </tr>
                               
                    </tbody>
                </table>

                <ul class="govuk-list govuk-list--bullet" style="margin-top: 40px;">
                <li>Charges apply <strong>Monday&ndash;Sunday 8am&ndash;8pm, including bank holidays</strong></li>
                <li>You can pay using <a href="https://secure.mipermit.com/bathnes/application/home.aspx">MiPermit</a>, our cashless payment system, or with coins</li>
                <li>Charges apply to Blue Badge holders unless specified otherwise by signage</li>
                <li>Please refer to signage located in car parks for further information including bank holiday charges</li>   
            </ul>

<!-- 
    DEV NOTE: some car parks (2 in Keynsham, 1 P&R) have been awarded DPA, in those casses display this:
-->
 <h2 class="govuk-heading-l">Awards</h2>
             <p>This car park has been awarded <a href="http://www.dpaccreditation.org.uk">Disabled Parking Accreditation</a>, which recognises off-street parking facilities which have acheived a high standard of accessibility for disabled people.</p>
         <img src="/assets/patterns/images/logo-dpa.png" width="110" alt="" />
            

    </div>
    
    <div class="govuk-grid-column-one-third">
        <div class="aside-container">
            <aside class="aside" role="complementary">


                <h2 class="govuk-heading-m">Pay for parking</h2>

                <nav class="aside__nav" role="navigation">
                    <ul>
                        <li><a href="info-pay-by-phone.html">How to pay by phone</a></li>
                        <li><a href="https://secure.mipermit.com/bathnes/Application/ModuleLander.aspx">Buy a season parking permit</a></li>
                       
                    </ul>
                </nav>


                <h2 class="govuk-heading-m" style="margin-top: 40px">More parking nearby</h2>

                <nav class="aside__nav" role="navigation">
                    <ul>
                        <li><a href="/templates/location-parking-manvers.html">Manvers Street car park</a></li>
                        <li>

<!-- DEV NOTE: use Google maps links for on-street parking as deep-linking to Parkopeida has problems:
-->
                            <a href="https://www.google.co.uk/maps/place/Johnstone+St,+Bath/@51.383312,-2.3581549,17z/data=!3m1!4b1!4m5!3m4!1s0x48718112789f2961:0x95f0083708a02fcc!8m2!3d51.3833087!4d-2.3559662" target="_blank">Johnstone Street</a> and <a href="https://www.google.co.uk/maps/place/Pulteney+Rd+(South),+Bath/@51.3803993,-2.3534362,17z/data=!3m1!4b1!4m5!3m4!1s0x4871810e8e3df597:0x49a57254f1630883!8m2!3d51.380396!4d-2.3512475" target="_blank">Pulteney Road</a> have <a href="/templates/find-parking-bath.html#on-street">on-street parking</a></li>
                    </ul>
                </nav>

                 <h2 class="govuk-heading-m" style="margin-top: 40px">Avoid the traffic</h2>

                <nav class="aside__nav" role="navigation">
                    <ul>
                        <li><a href="https://journeyplanner.travelwest.info/directions">Find a train or bus</a></li>
                        <li><a href="https://cycleplanner.betterbybike.info/route-planning">Travel by bike</a></li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>

</div>

