---
Title: Parking bay suspensions
Breadcrumb1_url: section-parking.html
Breadcrumb1_title: Parking & Travel
---
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{> breadcrumb.lv-two-breadcrumb}}
      </div>
</div>

<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl">{{Title}}</h1>

  <p class="govuk-body-l">If you are moving home, expecting a delivery, or need access to a set of parking bays for another reason, such as tree pruning or building works, you can apply for a suspension of parking bay suspension.</p>

  <p class="govuk-body"> If you want to deposit a skip on any road, you will have to buy a <a href="http://www.bathnes.gov.uk/services/streets-and-highway-maintenance/licences-and-permits/skip-licences">Skip licence</a> .</p>

<h2 class="govuk-heading-l">
  How to Apply
</h2>  
<ul class="govuk-list govuk-list--number">
  <li>Download the application form (37KB, MS Word)</li>
  <li>Complete the form</li>
  <li>Email it to <a href="mailto:parking@bathnes.gov.uk">parking@bathnes.gov.uk </a> </li>
</ul>

<h2 class="govuk-heading-l">Charges</h2>
<p class="govuk-body">Prices are per standard parking space. For long wheelbase vehicles or lorries two or more spaces would be required.</p>

<table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col"></th>
        <th class="govuk-table__header" scope="col">Amount</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Single or first space	All zones/areas</th>
        <td class="govuk-table__cell">£44</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Additional spaces	Central & Zone </th>
        <td class="govuk-table__cell">£29</td>
      </tr>
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">All other zones/areas</th>
        <td class="govuk-table__cell">£10</td>
      </tr>
    </tbody>
  </table>


<h2 class="govuk-heading-l">Extending an existing parking bay suspension</h2>
<ul class="govuk-list govuk-list--number">
    <li>Download the <a href="http://www.bathnes.gov.uk/sites/default/files/extension_of_parking_bay_suspensions_0.docx">application form </a> (37KB, MS Word)</li>
    <li>Complete the form</li>
    <li>Email it to  <a href="mailto:parking@bathnes.gov.uk">parking@bathnes.gov.uk></a> </li>
  </ul>
</div>

<div class="govuk-grid-column-one-third">
    <aside class="aside" role="complementary">
            
            <nav class="govuk-aside__nav" role="navigation">
            <ul class="govuk-list">
                   
            </ul>
            </nav> 
    </aside>
</div>
</div>