---
Title: Pay a parking fine
Breadcrumb1_url: section-parking.html
Breadcrumb1_title: Parking & Travel
---
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{> breadcrumb.lv-two-breadcrumb}}
      </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl">{{Title}}</h1>

  <p class="govuk-body-l">To pay for a parking fine you will need the following:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>The Penalty Charge Notice (PCN) Number (found on your parking ticket)</li>
    <li>The vehicle registration number</li>
  </ul>

  <a href="#" class="govuk-button govuk-button--start">Pay your parking penalty charge notice</a>  

<h2 class="govuk-heading-l">Other ways to pay your parking penalty charge notice</h2>


<h3 class="govuk-heading-m">By phone</h3>
<p class="govuk-body">Please call Call 01225 477133 to pay over the phone with a debit or credit card (office hours only).</p>
<h3 class="govuk-heading-m">In person at Council Offices</h3>
<p class="govuk-body">Payments can be made at One Stop Shops in Bath, Keynsham and Midsomer Norton.</p>
<p class="govuk-body">Self-service payment kiosks are available for cash, debit and credit card payments. These machines are unable to accept £50 notes.</p>
<p class="govuk-body">You'll need to have your reference number with you.</p>
<p class="govuk-body">Automatic receipts are provided for payments.</p>

<h3 class="govuk-heading-m">Pay by post</h3>

<p class="govuk-body">Please send a cheque payable to Parking Services, Bath and North East Somerset Council, PO Box 5197, Bath, BA1 0UF. Clearly write your name, address and notice number on the back of your cheque.</p>

<div class="panel panel-border-wide">
    <div class="breakout-box">
        <p class="govuk-body"><strong>We cannot accept post-dated cheques and we do not send receipts for cheque payments.</strong></p>
    </div>



</div>

</div>
<div class="govuk-grid-column-one-third">
    <aside class="aside" role="complementary">
            
            <nav class="govuk-aside__nav" role="navigation">
            <ul class="govuk-list">
                    <li><a href="challenge-a-parking-fine.html"> Challenge a parking fine</a></li>

            <li>Guidence on the enforcement and cancellation of penalty charge notices (add link to document in policy section)</a></li>
            </ul>
            </nav> 
    </aside>
</div>


</div>