---
layout: default
Title: Parking and Travel
Breadcrumb1_title: Parking & Travel
Breadcrumb1_url: section-parking.html
---

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
     {{> breadcrumb.lv-breadcrumb}}
        <h1 class="govuk-heading-xl">{{ Title }}</h1>
    </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
        <ul class="section-list">
            <li><h2 class="govuk-heading-s"><a class="button-task" href="https://travelwest.info/park-ride/bath">Park & Ride</a></h2></li>
            <li><h2 class="govuk-heading-s"><a class="button-task" href="https://travelwest.info/bus/timetables-and-journey-planning">Find bus routes</a></h2></li>
            <li><h2 class="govuk-heading-s"><a class="button-task" href="find-parking-bath.html">Parking in Bath</a></h2></li>
            <li><h2 class="govuk-heading-s"><a class="button-task" href="pay-parking-fine.html">Pay a parking fine</a></h2></li>
        </ul>
    </div>
</div>


<div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Parking</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="section-residents-permits.html">Residents parking permits</a></li>
            <li><a href="section-business-permits.html">Business parking permits</a></li>
            <li><a href="find-parking-bath.html">Park in Bath</a></li>
            <li><a href="find-parking-keynsham.html">Park in Keynsham</a></li>
            <li><a href="find-parking-other-areas.html">Parking in rural North East Somerset</a></li>
            <li><a href="">Parking bay suspensions</a></li>
            <li><a href="../parking-travel/clamping-vehicle-removal.html">Parking fines and clamping</a></li>
        </ul>
    </div>
    <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Travel</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="">Bus passes</a></li>
            <li><a href="/parking-travel/shopmobility.html">Shopmobility</a></li>
            <li><a href="/parking-travel/blue-badge.html">Apply for a Blue Badge</a></li>
            <li><a href="">MOT Tests for residents </a></li>
            <li><a href="/parking-travel/community-transport.html">Community transport</a></li>
            <li><a href="https://betterbybike.infoReport bus issues">Travel by bike</a></li>
        </ul>
    </div>
</div>

