---
layout: default
Title: Business parking permits
Breadcrumb1_title: Parking & Travel
Breadcrumb1_url: section-parking.html
---

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
     {{> breadcrumb.lv-two-breadcrumb}}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ Title }}</h1>
	<p class="govuk-body-l">If your business is in a residents parking zone, you may be able to get a permit to help with parking for business or customer vehicles.</p><p class="govuk-body"><strong>Business parking permits do not allow business owners or members of staff to park their own car when travelling to work.</strong></p>
    </div>
    </div>

<div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
	</div>
</div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
        <ul class="section-list">
            <li><h2 class="govuk-heading-s"><a class="button-task" href="business-permits.html">Essential business vehicle permits</a></h2></li>
            <li><h2 class="govuk-heading-s"><a class="button-task" href="business-permits.html">Business customer permits</a></h2></li>
            <li><h2 class="govuk-heading-s"><a class="button-task" href="trade-parking-permits.html">Trade or van permits</a></h2></li>
            <li><h2 class="govuk-heading-s"><a class="button-task" href="">Hotel &amp; guesthouse permits</a></h2></li>
            <li><h2 class="govuk-heading-s"><a class="button-task" href="">Medical &amp; GP permits</a></h2></li>
        </ul>
    </div>
</div>



