---
layout: default
Title: Parking fines and clamping
Breadcrumb1_title: Parking & Travel
Breadcrumb1_url: section-parking.html
---

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
     {{> breadcrumb.lv-two-breadcrumb}}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ Title }}</h1>
	<p class="govuk-body-l">If you get a parking ticket, or if your vehicle is clamped or removed, you'll need to either pay the fine or challenge it.</p>
    </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
        <ul class="section-list">
            <li><h2 class="govuk-heading-s"><a class="button-task" href="pay-parking-fine.html">Pay a parking fine</a></h2></li>
            <li><h2 class="govuk-heading-s"><a class="button-task" href="challenge-a-parking-fine.html">Challenge a parking fine</a></h2></li>
            <li><h2 class="govuk-heading-s"><a class="button-task" href="paying-your-bus-lane-fine.html">Pay a bus lane fine</a></h2></li>
            <li><h2 class="govuk-heading-s"><a class="button-task" href="challenge-a-bus-lane-fine.html.html">Challenge a bus lane fine</a></h2></li>
            <li><h2 class="govuk-heading-s"><a class="button-task" href="clamping-vehicle-removal.html">Clamping & removal</a></h2></li>
        </ul>
    </div>
</div>




