---
layout: default
Title: Residents parking permits
Breadcrumb1_title: Parking & Travel
Breadcrumb1_url: section-parking.html
---

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
     {{> breadcrumb.lv-two-breadcrumb}}
    </div>
</div>

<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 24px;">{{Title}}</h1>
		<p class="govuk-body-l">Find out if a property in Bath or Keynsham is eligible for a permit, which zone it's in and how much it will cost.</p>
		<p class="govuk-body"><a class="govuk-button govuk-button--start govuk-!-margin-bottom-2" style="margin-bottom: 12px;" href="find-parking-zone.html">Check eligibility and apply</a></p>
		<p class="govuk-body">This search will also show you hours of operation, where you can park and options for visitor permits.</p>


<h2 class="govuk-heading-l">Already have a permit?</h2>

<p class="govuk-body">Most permits can be updated, renewed or cancelled online. This takes a couple of minutes and takes effect immediately.</p>

<p class="govuk-body"><a href="https://secure.mipermit.com/bathnes/Application/Login.aspx" class="govuk-button">Log in to manage your permits</a></p>

<h2 class="govuk-heading-m">Changing your car</h2>

<p class="govuk-body">If you get a different car you must update your vehicle details immediately to avoid getting a parking fine.</p>

<h2 class="govuk-heading-m">Renewing a permit</h2>

<p class="govuk-body">You can renew your permit <strong>up to 1 month before the expiry date</strong>. Renewal can be done online and only takes a couple of minutes. If you are renewing an existing permit all you need is your payment details. You must renew before the expiry date or you may be fined for parking in the zone.</p>

<h2 class="govuk-heading-m">Moving house, transferring and cancelling permits</h2>

<p class="govuk-body">You must cancel your parking permit as soon as you move out. You can do this online by logging into your account. Please note that we don't offer refunds on the time remaining on your permit. However, if you are moving to another property in Bath &amp; North East Somerset, and that property is also <a href="find-parking-zone.html">entitled to a parking permit</a> then the balance of your permit can be transferred. To do this lorem ipsum dolor sit.</p>

<h2 class="govuk-heading-l">How to use</h2>

<p class="govuk-body">You can park on the street within your allocated zone. Your permit does not allow you to park in other zones and you can't park in time-limited waiting or pay-and-display only parking areas. You must also obey all other parking regulations such as yellow lines.</p>

<h3 class="govuk-heading-m" id="how-to-use-visitor-permits">How to use visitor permits</h2>

<p class="govuk-body">For electronic visitor permits, use the <a href="">MiPermit app</a> to enter the vehicle registration, then select a duration to allocate the permit. You can also do this by <a href="https://secure.mipermit.com/bathnes/Application/HowItWorks.aspx?P=VISITOR">text, website or phone</a>.</p>

<p class="govuk-body">For paper permits, scratch off the date for which you intend to use the permit for and fill in your visitor's vehicle registration number. Ask them to display this on the dashboard of the vehicle.</p>


<h2 class="govuk-heading-l">Report illegal parking</h2>

<p class="govuk-body">If you suspect someone is parking in a residents zone illegally you can <a href="">let us know</a> and we'll look into it. Due to data privacy laws we won't be able to confirm to you whether someone else's car has a valid permit, but if we find an issue then we will take action.</p>

	</div>

<div class="govuk-grid-column-one-third">
<aside class="aside" role="complementary">
<h2 class="govuk-heading-m">Parking permits in more depth</h2>
		<ul class="govuk-list">

			<li><a href="http://www.bathnes.gov.uk/sites/default/files/siteimages/Parking-and-Travel/Parking-Permits/bath_residents_parking_zones_map_-_portrait_view.pdf">Map of all zones (Bath)</a></li>
			<li><a href="">Map of all zones (Keynsham)</a></li>
			<li><a href="">Detailed terms &amp; conditions</a></li>
			<li><a href="">Parking and travel strategy</a></li>
			<li><a href="">Consultation for new schemes</a></li>
		</ul>

		<h2 class="govuk-heading-m">Residents discount at council car parks</h2>

		<ul class="govuk-list">

			<li><a href="https://secure.mipermit.com/bathnes/Register/ProductRegister.aspx?PermitType=RESSAVER">Apply for your 10% discount</a></li>
		</ul>
		<h2 class="govuk-heading-m">Are you a business?</h2>

		<ul class="govuk-list">

			<li><a href="">Business parking permits</a></li>
		</ul>

<!--
<h2 class="govuk-heading-m">Help us reduce congestion</h2>

<ul class="govuk-list">
<li><a href="https://cycleplanner.betterbybike.info/route-planning">Travel by bike</a></li>
<li><a href="https://journeyplanner.travelwest.info/directions">Find a train or bus</a></li>
<li><a href="https://travelwest.info/park-ride/bath" target="_blank">Park and Ride</a></li>
</ul>
-->

</aside>
</div>


</div>


