---
layout: default
Title: Shopmobility
Breadcrumb1_url: section-parking.html
Breadcrumb1_title: Parking & Travel
---


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{> breadcrumb.lv-two-breadcrumb}}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{Title}}</h1>
        <p class="govuk-body-l">Shopmobility is a loan scheme that provides mobility vehicles to help people get around in Bath city centre. If you have limited mobility (even temporarily), the service is available to you regardless of your age or disability.
                </p>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<h2 class="govuk-heading-l">What’s available
        </h2>
<p class="govuk-body">The following mobility vehicles are available for hire:</p>

<ul class="govuk-list govuk-list--bullet">
        <li>Powered wheelchairs</li>
        <li>Manual wheelchairs</li>
        <li>Electric scooters</li>
</ul>

<h2 class="govuk-heading-l">Booking </h2>
<p class="govuk-body"><strong>Ways to book:</strong>  </p>

<ul class="govuk-list govuk-list--bullet">
        <li>Visit the One Stop Shop at 3 to 4 Manvers Street, Bath BA1 1JQ (View on local map)</li>
        <li>Call 01225 481 744 </li>
        <li>Email <a href="mailto:shop_mobility@bathnes.gov.uk">shop_mobility@bathnes.gov.uk</a></li>
</ul>        

<p class="govuk-body">We recommend that you book in advance. Please bring proof of identity when collecting your vehicle. We’ll show you how to operate the vehicle safely and you’ll have a chance to practice before taking it out on your own. </p>

<h2 class="govuk-heading-l">Collection</h2>      
<p class="govuk-body">Please collect your vehicle from the One Stop Shop, 3 to 4 Manvers Street, Bath BA1 1JQ.</p> 

<h2 class="govuk-heading-l">Opening hours </h2>
<table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Monday</th>
            <td class="govuk-table__cell ">8.30am to 5pm</td>
                    <td class="govuk-table__cell ">9am to 4.30pm* </td>
          </tr>
          <tr class="govuk-table__row">

                        <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                                <th class="govuk-table__header" scope="col"> </th>
                                          <th class="govuk-table__header" scope="col">Opening hours     </th>
                                          <th class="govuk-table__header" scope="col">Hire equipment available</th>
                                        </tr>
                                      </thead>


                        <th class="govuk-table__header" scope="row">Tuesday</th>
                        <td class="govuk-table__cell ">8.30am to 5pm</td>
                                <td class="govuk-table__cell ">9am to 4.30pm* </td>
                      </tr>

                      <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">Wednesday</th>
                                <td class="govuk-table__cell ">9.30am to 5pm</td>
                                        <td class="govuk-table__cell ">9am to 4.30pm* </td>
                              </tr>

                              <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="row">Thursday</th>
                                        <td class="govuk-table__cell ">8.30am to 5pm</td>
                                                <td class="govuk-table__cell ">9am to 4pm*</td>
                                      </tr>

                                      <tr class="govuk-table__row">
                                                <th class="govuk-table__header" scope="row">Friday</th>
                                                <td class="govuk-table__cell ">8.30am to 4.30pm </td>
                                                        <td class="govuk-table__cell ">9am to 4pm*</td>
                                              </tr>

                                              <tr class="govuk-table__row">
                                                        <th class="govuk-table__header" scope="row">Saturday</th>
                                                        <td class="govuk-table__cell ">8.30am to 4.30pm </td>
                                                                <td class="govuk-table__cell ">9am to 4pm*</td>
                                                      </tr>

                                                      <tr class="govuk-table__row">
                                                                <th class="govuk-table__header" scope="row">Sunday</th>
                                                                <td class="govuk-table__cell ">Closed</td>
                                                                        <td class="govuk-table__cell "></td>
                                                              </tr>
         
        </tbody>
      </table>
<p class="govuk-body">* Equipment must be returned by the specified time, otherwise you’ll be charged £5 in addition to the hire charges. </p>
<h2 class="govuk-heading-l">Cost </h2>
<p class="govuk-body">There’s a small hire charge to cover running costs. </p>

<p class="govuk-body"><strong>Electric scooter</strong> </p>
<p class="govuk-body">£1.00 + VAT per hour (or part of) </p>

<p class="govuk-body"><strong>Powered wheelchair </strong> </p>
<p class="govuk-body">£1.00 + VAT per hour (or part of) </p>

<p class="govuk-body"><strong>Manual wheelchair </strong> </p>
<p class="govuk-body">50p + VAT per hour (or part of)  </p>

<p class="govuk-body"><strong>Overnight hire</strong></p>
<p class="govuk-body">£3.50 + VAT for overnight hire <br>  (overnight charges are payable in advance and are non-refundable)</p>

<div class="breakout-box">
                <p class="govuk-body"><strong>
                All charges are subject to 20% VAT. You may be exempt from paying VAT if you’re chronically sick or disabled. For more information, please call Shopmobility or ask at the One Stop Shop.
        </strong>
                </p>     
            </div>

    </div>

    <div class="govuk-grid-column-one-third">
                <div class="aside-container">
                    <aside class="aside" role="complementary">
                                <ul class="govuk-list">
                                                <h2 class="govuk-heading-s">Related Information</h2>
                                                <li><a href="/parking-travel/community-transport.html">Community Transport</a> </li>
                                                <li><a href="/parking-travel/fare-car.html">Fare Cars</a> </li>
                                            </ul>
                        
                        
                        
    
                                 
                    </aside>
                </div>
            </div>
</div>
