---
layout: default
Title: Trade parking permits
Breadcrumb1_title: Parking & Travel
Breadcrumb1_url: section-parking.html
Breadcrumb2_title: Business parking permits
Breadcrumb2_url: section-business-permits.html
---
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {{> breadcrumb.lv-three-breadcrumb}}
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{Title}}</h1>
        <p class="govuk-body-l">Avoid problems when parking your van by registering for a trade parking permit before visiting residents parking zones.</p>
        <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->
        <h2 class="govuk-heading-l">Permits allow you to:</h2>
        
        <ul class="govuk-list govuk-list--bullet">
                <li>Park in any residents parking zone for as long as you need</li>
                <li>Park in residents parking bays or paid parking bays</li>
                <li>Register multiple vehicles for your business</li>
        </ul>
        <table class="govuk-table">
                <caption class="govuk-table__caption">Charges</caption>
                <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col">Zone</th>
                                <th class="govuk-table__header" scope="col">Charge</th>
                        </tr>
                </thead>
                <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">Central zone and Zone 1</th>
                                <td class="govuk-table__cell ">£3 per hour</td>
                        </tr>
                        <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">All other zones</th>
                                <td class="govuk-table__cell ">£6.60 per day</td>
                        </tr>
                </tbody>
        </table>
        <h2 class="govuk-heading-l">Who can apply?</h2>
        <p class="govuk-body">Any tradesperson who needs to continuously park in a resdients parking zone to access goods and materials whilst on a job. You <strong>do not </strong>need to be based locally.</p>
        <a href="#" role="button" class="govuk-button govuk-button--start">Apply now</a>
        <div class="govuk-inset-text">
                It can take up to 10 days for your application to progress. You will need to provide an image of your letterhead or similar to prove your business is legitimate.
        </div>
                <h2 class="govuk-heading-l">Using your permit</h2>
                        <ol class="govuk-list govuk-list--number">
                                <li><a title="Opens the parking zone checker in new window or tab" href="https://www.bathnes.gov.uk/WebFormsUAT/UX_AddressDataLookup/?form=parking_zones" target="_blank">Check your zone</a>
                                <br/>or use the following zone codes:
                                <div class="breakout-box">
                                <strong>755999</strong> = Central and zone 1
                                <br/><strong>755998</strong> = All other zones</div></li>
                                <li>Activate your stay...<br/><br/>
                                        <h3 class="govuk-heading-m">Use the MiPermit app</h3>
                                        The easiest way to activate and use your trade permit is to use the <strong>MiPermit</strong> smartphone app <br/><br/>
                                        <a href="http://itunes.apple.com/gb/app/mipermit/id338671523?mt=8" role="button" class="govuk-button" style="color:white">Download for iPhone <i class="fab fa-apple" title="Opens iTunes store"></i></a>
                                        <a href="https://play.google.com/store/apps/details?id=com.mipermit.android" role="button" class="govuk-button" style="color:white">Download for Android <i class="fab fa-android" title="Opens Google Play store"></i></a>

                                        <h3 class="govuk-heading-m">Activate online</h3>
                                                <a href="http://www.wanttopark.com/bathnes" role="button" class="govuk-button" style="color:white">Activate online <i class="fas fa-external-link-alt" title="Opens external MiPermit website"></i></a>
                                                <p>Log-in using your mobile number and PIN, go to the Trade Parking page and select your vehicle, location and duration required. Save and confirm your selection to finish.</p>
                                                <br/>
                                        <details class="govuk-details">
                                                <summary class="govuk-details__summary">
                                                <span class="govuk-details__summary-text">
                                                        <h2 class="govuk-heading-m">Alternative ways to activate your stay</h2>
                                                </span>
                                                </summary>
                                                <div class="govuk-details__text">
                                        <div class="breakout-box">
                                                <h4 class="govuk-heading-s">Activate by SMS</h4>
                                                <p><strong>Text:</strong> "TRADE" + zone code + duration of stay</p>
                                                </p><strong>E.g.</strong> TRADE 755998 2hours<br/>
                                                to <strong class="govuk-body-l">60300</strong></p>
                                        </div>
                                        <div class="breakout-box">
                                                <h4 class="govuk-heading-s">Activate by telephone</h4>
                                                <p>Call the automated system on <strong>0333 123 9009</strong> from your registered mobile number.</p>
                                                <p>Input your <strong>zone code</strong>, <strong>vehicle</strong> and <strong>duration of stay</strong>.</p>
                                        </div>
                                </div>
                        </details>

                                </li>
                                
                                <li>Problem? Call <strong>0333 123 8008</strong></li>
                        </ol>


    </div>

    <div class="govuk-grid-column-one-third">
                <div class="aside-container">
                    <aside class="aside" role="complementary">
                                <ul class="govuk-list">
                                                <h2 class="govuk-heading-s">Related Information</h2>
                                                <li><a href="http://www.bathnes.gov.uk/sites/default/files/sitedocuments/Parking-and-Travel/Parking-Permits/bathnes_leaflet_trade_003_-_april_2018.pdf">Trade parking permits leaflet</a> </li>
                                                <li><a href="/parking-travel/section-residents-permits.html">Residents parking permits</a> </li>
                                            </ul>
                        
                        
                        
    
                                 
                    </aside>
                </div>
            </div>
</div>
