---
notes: |
    - Don’t use placeholder text in form fields, as this will disappear once content is entered into the form field
    - Use hint text for supporting contextual help, this will always be shown
    - Hint text should sit above a form field
    - Ensure hint text can be read correctly by screen readers
---

<label class="form-label" for="ni-number">
    National Insurance number
</label>
<span class="form-hint">
    It's on your National Insurance card, benefit letter, payslip or P60.
    <br>
    For example, ‘QQ 12 34 56 C’.
</span>
<input class="form-control" id="ni-number" type="text" name="ni-number" aria-describedby="form-hint">
