//-----------
// Aside
//-----------

.aside-container {
    margin-top: 40px;
}

.aside {
    border-top: 3px solid $bathnes-secondary;
    background-color: $bathnes-grey-4;
    padding: 1em;
    h2 {
        font-weight: 700;
        margin-top: 0.3em;
        margin-bottom: 0.5em;
    }
}

.aside__nav {
    ul {
        padding: 0;
        margin: 0;
        font-weight: 400;
        text-transform: none;
        font-size: 16px;
        line-height: 1.25;
        list-style: none;
        margin-bottom: 1.25em;
        li {
            margin-bottom: 0.75em;
        }
    }
}
