
// 
// Buttons 
//


.button-home{
	width: 100%;
	margin:0;
}

.button-task{
	width: 90%;
	min-height: 3.15789em;
}


//-
// Homepage boxes 
//-

.hero__description p.govuk-body-l {
	color: white;
	padding: 0;
	margin: -20px 0 10px;
}

.breakout-box-alt-primary h4.govuk-heading-s,
.breakout-box-alt-primary h2.govuk-heading-l{
	color:$bathnes-white;
}


.hero_home {
	 background-color: $bathnes-primary-ally;
	 padding:1% 0;
	 &--alt {
			 background-color: $bathnes-secondary-ally;
	 }
	 &--image {
			 background-size: cover;
			 background-repeat: no-repeat;
			 background-position: center center;
			 border-bottom: 2px solid $bathnes-primary-ally;
			 &:after {
					 position: absolute;
					 width: 100%;
					 height: 100%;
					 top: 0;
					 left: 0;
					 background-color: $bathnes-primary-ally;
			 }
			 &.hero--alt {
							 &:after {
									 background-color: $bathnes-secondary-ally;
											 }
									 }
			 }
}




@media (min-width: 641px) {

	 .sub-hero {
			 margin-top: -80px;
				}

	 .breakout-home{
			 position: absolute;
			 top: 0;
			 left: 66%;
			 width: 26.33%;
			 background: rgb(242, 242, 242);
			 }
	 }

	 .breakout-box-alt-primary-home {
		background: $bathnes-primary;
		margin-top: -40px;
		}
	 


.container {
	position: relative;
	max-width: 960px;
	margin: 0 auto;
}


.service { 
	background: #f8f8f8;
	margin-bottom: 1em;
	padding: 1em .6em;
	min-height: 75px;
	transition: all 1s;
	 }


//- 
// News and Events section 
//-

.news-and-events {
	background: #d8d8d8;
	padding: 2em 0;
	}

.news-and-events .card-content {
	background: #fff;
	padding: 10px;
	border-top: solid 5px #00aeef;
	:hover {
			color: #fff;
	background: #00aeef;
					}
	}


.card-image-wrapper {
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 210px;
	}

.card-image-wrapper.news {
	background: url(/assets/patterns/images/sugar-smart-logo.png);
	background-size: cover;
	}

	.consultation {
	background: url(/assets/patterns/images/have-your-say.png);
	background-size: cover;

	}

	.event {
	background: url(/assets/patterns/images/events.png);
	background-size: cover;

	}


//-
// Flexbox
//-


.task-links {
	background: $bathnes-grey-3;
	padding: 0 12px;
	margin: 0 12px;
}


.flex-container {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	}

.flex-item:nth-child(1) {
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
	}

.flex-item:nth-child(2) {
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
	}

.flex-item:nth-child(3) {
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
	}





// find a car park 

.listing.car-parks {
  border-bottom: solid 1px #ccc;
  padding: 1em .5em; 
}

.breakout-box-twitter-update {
  background: $bathnes-red;
  color: $bathnes-white;
  border: none;
  position: relative;

  i{
    position: absolute;
    top:10px;
    right:10px;
  }

}

.breakout-box{

h4.font-medium {
  margin-top: .5em;}



.clearfix{
  clear: both;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  @include govuk-media-query($from: tablet){
    flex-direction: row;
    justify-content: space-between;

}
    .form-group {
      float:  left;
      width:  100%;
      background:  #ffffffbd;
      padding: 1em;
      @include govuk-media-query($from: tablet){
      width: 31%;
      }
    }

    .form-control{
      width: 100%;
    }

    }
   
}

.breakout-box.breakout-box-location {
  margin: 0;
}

.location-wrapper{
  background: $link-colour;

  .breadcrumb a{
    color: $bathnes-white;
  }

  .container{
    padding-bottom:0; 
  }
}


.breakout-box.breakout-box-location {background: #f4f4f461;border:  none;}


// Footer

.footer-wrapper{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    @media (min-width: 1020px){
      flex-direction: row;
      text-align: left;
      justify-content: space-between;
}

.footer-brand{
  margin-top: 2em;
  @include govuk-media-query($from: tablet){
    margin-top: 0;
  }
}

.footer-logo{
  width: 100%;
    padding: 0;
    @include govuk-media-query($from: tablet){
      padding: 0;
    }
  img{
    width: 128.4px;
  }
}
}
		  #global-header {
		  background-color: #fff;
		  position: relative;
		}
		
		.header-wrapper {
		  position: relative;
		  max-width: 960px;
		  margin: 0 auto;
		  padding-top: 1em;
		  padding-bottom: 1em;
		  padding-left: 15px;
		  padding-right: 15px;
		}
		@media (min-width: 960px) {
		  .header-wrapper {
		    padding-left: 0;
		    padding-right: 0;
		  }
		}
		
		.header-global {
		  overflow: hidden;
		}
		
		.header-logo {
		  width: 128.4px;
		  height: auto;
		}
		.header-logo img {
		  max-width: 100%;
		}
		@media (min-width: 769px) {
		  .header-logo {
		    width: 160.5px;
		    float: left;
		  }
		}
		
		.header-search {
		  margin-top: 10px;
		  margin-bottom: 20px;
		}
		@media (min-width: 769px) {
		  .header-search {
		    margin-top: 1em;
		    float: right;
		    width: 50%;
		    text-align: right;
		    margin-top: 12px;
		    margin-bottom: 0;
		  }
		}
		.header-search .site-search {
		  position: relative;
		}
		.header-search .site-search .form-control {
		  width: calc(100% - 80px);
		  border-width: 1px;
		  border-color: #bfc1c3;
		  font-size: 16px;
		  height: 36px;
		}
		@media (min-width: 769px) {
		  .header-search .site-search .form-control {
		    width: calc(100% - 100px);
		  }
		}
		.header-search .site-search .govuk-button {
		  position: absolute;
		  top: 0;
		  right: 45px;
		  text-indent: -9999px;
		  background-image: url(/assets/toolkit/images/icon-search-2x.png);
		  background-repeat: no-repeat;
		  background-position: 55% 50%;
		  background-size: 52.5% 40%;
		  box-shadow: none;
		  width: 36px;
      height: 36px;
      padding:18px;
		}
		@media (min-width: 769px) {
		  .header-search .site-search .govuk-button {
		    right: 0;
		  }
		}
		
		.header-search--desktop {
		  display: none;
		}
		@media (min-width: 769px) {
		  .header-search--desktop {
		    display: block;
		  }
		}
		
		@media (min-width: 769px) {
		  .header-search--mobile {
		    display: none;
		  }
		}
		
		#global-header-bar {
		  position: relative;
		  background-color: #00aeef;
		  height: 5px;
		}
		
		.header-marque {
		  position: absolute;
		  bottom: 0;
		  right: 15px;
		  width: 0;
		  height: 0;
		  border-style: solid;
		  border-width: 25px 0 0 25px;
		  border-color: transparent transparent transparent #00aeef;
		}
		
		.header-commercial {
		  position: relative;
		  overflow: hidden;
		  background-color: #0b0c0c;
		}
		.header-commercial .header-wrapper {
		  padding-top: 0.75em;
		  padding-bottom: 0.5em;
		}
		
		.header-commercial__logo {
		  width: 91.42857px;
		  height: auto;
		  display: block;
		}
		.header-commercial__logo img {
		  max-width: 100%;
		}
		@media (min-width: 769px) {
		  .header-commercial__logo {
		    width: 106.66667px;
		  }
		}
		
		.header-commercial__marque {
		  position: absolute;
		  bottom: 0;
		  right: 15px;
		  width: 0;
		  height: 0;
		  border-style: solid;
		  border-width: 30px 0 0 30px;
		  border-color: transparent transparent transparent #fff;
		}
		@media (min-width: 960px) {
		  .header-commercial__marque {
		    right: 0;
		  }
		}

		.govuk-template {
			background-color: #f8f8f8;
	}

	/* Footer Social Media links  */


.social-links a:visited {
	color: #0b0c0c;
}

.social-links a:link {
	color: #0b0c0c;
}

.listing{
	border-bottom: solid 3px $bathnes-grey-3;
	padding:20px 0;
}


.section-list {
  display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	justify-content: space-between;

	.govuk-link:focus, a:focus{
		background:none;
		border: none;
		outline: none;
	}

	.govuk-link:link, a:link{
		color: white;
		text-decoration: none;
		color: white;
    padding: 5px 10px;
    margin: 0;
    justify-content: space-around;
    flex-direction: column;
	}

	.govuk-link:visited, a:visited{
		color: white;
	}

	h2.govuk-heading-s{
		margin-bottom: 0;
		padding:0;
	}
	
	li{	
		display: flex;
		flex-direction: column;
		background: #00aeef;
		width: 100%;
		margin-bottom:30px;
		transition: background 1s;
		
		&:hover{
			background: $button-hover-colour;
		}
	}

	li a.govuk-button.button-task {
		flex: 1 0 auto;
	}	 
}

.section-list li{
	width: 100%;
	background:$button-colour;
	box-shadow: 0 2px 0 #001a0f;
	display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}	


.banes-desktop-only, .banes-desktop-inline-only{
	display: none;
}

.banes-mobile-only{
	display: block;
}

.banes-mobile-inline-only{
	display: inline-block;
}

@include govuk-media-query($from: tablet) {
  .section-list li {
		width: 48%;  
	}	

	.banes-desktop-only{
		display: block;
	}

	.banes-desktop-inline-only{
		display: inline-block;
	}

	.banes-mobile-only, .banes-mobile-inline-only{
		display: none;
	}

}

@include govuk-media-query($from: desktop) {
  .section-list li {
		width: 23%;
	}
}

.checkbox-flexbox-row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;

	.govuk-checkboxes__item{
		width: 43%;
	}
}


.hero__description {
	color: #fff;
}

.govuk-list--number {
	padding-left: 1.8em;
}

.govuk-warning-text__icon.banes-warning-l {
	top: 32px;
}
