.govuk-panel.banes-highlight {
  background:$bathnes-grey-3;
  border:solid 1px $bathnes-grey-2;
}

.govuk-panel.banes-highlight.left-align {
	text-align: left;
}

.govuk-panel.alt-banes-highlight {
  background:$bathnes-primary-ally;
  color: $bathnes-white;
}


