---
layout: default
Title: Pay for it
---



<div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            {{> breadcrumb.lv-breadcrumb}}
                        </div>
                    </div>
                <h1 class="govuk-heading-xl">{{Title}}</h1>
    
        </div>
    </div> 



    <ul class="section-list">
            <li><h2 class="govuk-heading-s"><a class="button-task" href="../payforit/paying-your-council-tax.html">Council Tax</a></h2></li>
            <li><h2 class="govuk-heading-s"><a class="button button-task" href="../parking-travel/pay-parking-fine.html">Parking fine (PCNs)<i class="fas fa-external-link-alt"></i></a></h2></li>
            <li><h2 class="govuk-heading-s"><a class="button button-task" href="../payforit/paying-your-bus-lane-plenaty-charge-notice.html">Bus Lane fines (PCNs)</a></h2></li>
            <li><h2 class="govuk-heading-s"><a class="button button-task" href="../payforit/paying-your-allotment-rent.html">Allotment rent <i class="fas fa-external-link-alt"></i></a></h2></li>


            <li><h2 class="govuk-heading-s"><a class="button button-task" href="../payforit/paying-your-bid.html">Business Improvement District bills </a></h2></li>
            <li><h2 class="govuk-heading-s"><a class="button button-task" href="https://www.curo-group.co.uk/residents/rent-money-matters/rent-service-charges/ways-to-pay/">Curo housing rent<i class="fas fa-external-link-alt"></i></a></h2></li>
            <li><h2 class="govuk-heading-s"><a class="button button-task" href="../payforit/paying-your-business-rates.html">Business rates</a></h2></li>
            <li><h2 class="govuk-heading-s"><a class="button button-task" href="../payforit/paying-your-council-invoice.html">Council invoices  <i class="fas fa-external-link-alt"></i></a></h2></li>


            <li><h2 class="govuk-heading-s"><a class="button button-task" href="../payforit/paying-your-paying-bath record-office-fees.html">Bath Record Office fees </a></h2></li>
            <li><h2 class="govuk-heading-s"><a class="button button-task" href="../payforit/paying-your-paying-your-community infrastructure levy.html">Community infrastructure levy</a></h2></li>
            <li><h2 class="govuk-heading-s"><a class="button button-task" href="../payforit/paying-your-declarations registrars.html">Declarations registrars </a></h2></li>
            <li><h2 class="govuk-heading-s"><a class="button button-task" href="../payforit/paying-your-garden-waste-subscription.html">Garden waste subscriptions<i class="fas fa-external-link-alt"></i></a></h2></li>


            <li><h2 class="govuk-heading-s"><a class="button button-task" href="../payforit/paying-your-council-licences-fee.html">Licences<i class="fas fa-external-link-alt"></i></a></h2></li>
            
        </ul>




