<style>

.nav-list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2em;

}

  ul.nav-list li {
    flex-basis: 30%;
    margin-bottom: 20px;
  }



</style>




<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">Pay your declarations registrars payment</h1>

    <p class="lede">In order to pay your declarations registrars payment online you will need to know your reference number. This can be found on the top right hand side of your bill.
      </p>

    <a href="#" class="button button-start">Pay your declarations registrars payment online</a>  

<h2 class="heading-large">Other ways to pay your declarations registrars payment</h2>


<h3 class="heading-medium">In person at Council Offices</h3>
<p>Payments can be made at One Stop Shops in Bath, Keynsham and Midsomer Norton.</p>
<p>Self-service payment kiosks are available for cash, debit and credit card payments. These machines are unable to accept £50 notes.</p>
<p>You'll need to have your account / reference / invoice number with you.</p>
<p>Automatic receipts are provided for payments.</p>

</div>

  <div class="column-one-third">
    <div class="aside-container">
      <aside class="aside" role="complementary">
        <h2 class="font-medium">Related links</h2>

        <nav class="aside__nav" role="navigation">
          <ul>
            <li><a href="#">Pay your Allotment Rent</a></li>
            <li><a href="#">Allotment Rent bands and amounts</a></li>
            <li><a href="">Discounts & Exemptions</a></li>
            <li><a href="">Change of Address</a></li>
            <li><a href="">Information for students</a></li>
            <li><a href="">Problems paying your Allotment Rent?</a></li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
</div>
