---
layout: default
Title: Pay your Council tax
Breadcrumb1_url: ../payforit/pay-for-it.html
Breadcrumb1_title: Pay for it
---

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
            <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        {{> breadcrumb.lv-two-breadcrumb}}
                    </div>
                </div>

    </div>
</div> 

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{Title}}</h1>

    <p class="govuk-body-l">The easiest way to pay your council tax is by direct debit. You can also pay by bank transfer, with a credit or debit card online, by phone, or in person at a post office or a council office.</p>

      <h2 class="govuk-heading-l">Direct Debit</h2>

<p class="govuk-body">Once set up, Direct Debit is the easiest way to pay your council tax. Your payments are taken automatically from your bank account on your preferred payment date (1st or 15th of the month).</p>

<a href="http://www.bathnes.gov.uk/sites/default/files/sitedocuments/Council-Tax-Benefits-and-Grants/CouncilTax/dd_mandate.docx" class="govuk-button govuk-button">Download Direct Debit form</a>

<p class="govuk-body">Complete the form and email it to  <a href="mailto:counciltax@bathnes.gov.uk ">counciltax@bathnes.gov.uk</a>. You'll need to sign the form and take a photo of it, then attach it to the email.</p>

<h3 class="govuk-heading-m">Other ways to set up Direct Debit</h3>
<ul class="govuk-list">
<li>Alternatively you can print the form and post to Council Tax, Lewis House, Manvers Street, Bath, BA1 1JG.</li>
<li>You can also set up Direct Debit by phone. Call us on <strong>01225 47 77 77</strong> and have your account number and bank details to hand.</li>
</ul>


<h2 class="govuk-heading-l">Bank transfer</h2>

<p class="govuk-body">Use your bank's online banking website or app to send us a payment or set up a standing order.</p>

<ul class="govuk-list">
<li>Account Name: <strong>Bath &amp; North East Somerset Council</strong></li>
<li>Sort Code: <strong>56 00 34</strong></li>
<li>Account Number: <strong>57134510</strong></li>
<li>Payment reference: <strong>Your council tax account number</strong></li>
</ul>

<div class="govuk-inset-text">
     <p class="govuk-body"><strong>Important:</strong> Please quote your Council Tax account number as the payment reference. Failure to do so may result in the payment not reaching your account.</p> 

<!--
    <p class="govuk-body">To ensure payments are allocated correctly, please send all remittance advices to <a href="mailto:cashiering@bathnes.gov.uk">cashiering@bathnes.gov.uk</a>.</p>
-->
</div>


<h2 class="govuk-heading-l">Pay online using a credit or debit card</h2>
<p class="govuk-body">To pay online using a card you'll need the amount as well as your council tax number.</p>
    <a href="https://www.civicaepay.co.uk/bathnesEstore/ESTORE/default/catalog/index?catalogueitemreference=F0000008" class="govuk-button govuk-button">Pay using a credit or debit card</a>  

<h2 class="govuk-heading-l">Other ways to pay</h2>

<h3 class="govuk-heading-m">By phone</h3>
<p class="govuk-body">Call the automated payments line on 0845 6035058, available 24 hours a day, seven days a week. Payments can only be made by all major credit and debit cards.</p>
<h3 class="govuk-heading-m">In person at Council Offices</h3>
<p class="govuk-body">Payments can be made at One Stop Shops in Bath, Keynsham and Midsomer Norton.</p>
<p class="govuk-body">Self-service payment kiosks are available for cash, debit and credit card payments. These machines are unable to accept £50 notes.</p>
<p class="govuk-body">You'll need to have your account / reference / invoice number with you.</p>
<p class="govuk-body">Automatic receipts are provided for payments.</p>

<h3 class="govuk-heading-m">At your local Post Office:</h2>
<p class="govuk-body">If you have a plastic payment card you can pay your Council Tax at your local Post Office. You must always allow for at least 7 days for the payments to reach your Council Tax account. All cheques should be made payable to “Post Office Ltd”. Please keep your receipt as this is your proof of payment. </p>

<p class="govuk-body">To request a Post Office payment card, please email your full name, address and Council Tax account number to <a href="mailto:counciltax@bathnes.gov.uk">counciltax@bathnes.gov.uk</a>. Payment cards usually arrive within 2-3 weeks from receipt of your request.</p>

<h3 class="govuk-heading-m">Pay by post</h3>

<p class="govuk-body">Please make cheques payable to Bath &amp; North East Somerset Council. Write your name, address and account / reference number on the back of your cheque and send it to the address given on your bill or invoice. </p>

<div class="govuk-inset-text">
<p class="govuk-body">We cannot accept post-dated cheques and we do not send receipts for cheque payments.</p>

<p class="govuk-body">It can take several days to process cheques, so allow plenty of time for your payment to be credited to your account.</p></div>

  </div>


  <div class="govuk-grid-column-one-third">
    <div class="aside-container">
      <aside class="aside" role="complementary">
        <h2 class="govuk-heading-m">Related links</h2>

        <nav class="govuk-aside__nav" role="navigation">
          <ul class="govuk-list">
            <li><a href="#">Council Tax bands and amounts</a></li>
            <li><a href="">Discounts & Exemptions</a></li>
            <li><a href="">Change of Address</a></li>
            <li><a href="">Information for students</a></li>
            <li><a href="">Problems paying your Council Tax?</a></li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
</div>
