---
layout: default
Title: Pay your Council invoice
Breadcrumb1_url: ../payforit/pay-for-it.html
Breadcrumb1_title: Pay for it
---
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
            <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        {{> breadcrumb.lv-two-breadcrumb}}
                    </div>
                </div>

    </div>
</div> 


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{Title}}</h1>

      <p class="govuk-body-l">In order to pay your Council invoice online you will need to know your reference number. This can be found on the top right hand side of your bill.
        </p>

      <a href="#" class="govuk-button govuk-button--start">Pay your Council invoice online</a>  

  <h2 class="govuk-heading-l">Other ways to pay your Council invoice</h2>


  <h3 class="govuk-heading-m">By phone</h3>
  <p class="govuk-body">You can pay your allotment bill by calling the automated payments line on 0845 6035058, available 24 hours a day, seven days a week. Payments can only be made by all major credit and debit cards.</p>


  <h3 class="govuk-heading-m">In person at Council Offices</h3>
  <p class="govuk-body">Payments can be made at One Stop Shops in Bath, Keynsham and Midsomer Norton.</p>
  <p class="govuk-body">Self-service payment kiosks are available for cash, debit and credit card payments. These machines are unable to accept £50 notes.</p>
  <p class="govuk-body">You'll need to have your account / reference / invoice number with you.</p>
  <p class="govuk-body">Automatic receipts are provided for payments.</p>

  </div>

    <div class="govuk-grid-column-one-third">
      <div class="aside-container">
        <aside class="aside" role="complementary">
          <h2 class="govuk-heading-m">Related links</h2>

          <nav class="aside__nav" role="navigation">
            <ul>
              <li><a href="#">Pay your Allotment Rent</a></li>
              <li><a href="#">Allotment Rent bands and amounts</a></li>
              <li><a href="">Discounts & Exemptions</a></li>
              <li><a href="">Change of Address</a></li>
              <li><a href="">Information for students</a></li>
              <li><a href="">Problems paying your Allotment Rent?</a></li>
            </ul>
          </nav>
        </aside>
      </div>
    </div>

</div>
