---
layout: default
Title: Pay your Council tax
Breadcrumb1_url: ../payforit/pay-for-it.html
Breadcrumb1_title: Pay for it
---

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
            <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        {{> breadcrumb.lv-two-breadcrumb}}
                    </div>
                </div>

    </div>
</div> 

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{Title}}</h1>

    <p class="govuk-body-l">In order to pay your Council Tax online you will need to know your Council Tax account number. This can be found on the top right of your Council Tax bill.
      </p>

    <a href="https://www.civicaepay.co.uk/BathNESEstoreTest/estore/default/Standard/Edit?catalogueReference=F0000008
    " class="govuk-button govuk-button--start">Pay Council Tax online</a>  

      <h2 class="govuk-heading-l">Have you thought about paying your Council Tax by Direct Debit?
      </h2>

      <p class="govuk-body">This is a simple, safe and speedy way to pay your Council Tax.</p>

<p class="govuk-body">Direct Debit is Bath &amp; North East Somerset Council’s preferred method of payment. If you currently pay by any other method and wish to change to Direct Debit, you must complete a <a href="/">Direct Debit form</a> and return it to the address shown on the form or email it to  <a href="mailto:counciltax@bathnes.gov.uk ">counciltax@bathnes.gov.uk </a></p> 


<h2 class="govuk-heading-l">Other ways to pay your Council Tax</h2>

<h3 class="govuk-heading-m">Online banking - Faster Payments or BACS</h3>
 
<p class="govuk-body">Bank: National Westminster Bank, Old Bank Branch<br>
  Sort Code: 56 00 34<br>
  Account Number: 57134510<br>
  Account Name: Bath &amp; North East Somerset Council</p>


  <div class="panel panel-border-wide"><p class="govuk-body">Please quote your Council Tax account number as the payment reference. Failure to do so may result in the payment not reaching your account.</p> 

    <p class="govuk-body">To ensure payments are allocated correctly, please send all remittance advices to <a href="mailto:cashiering@bathnes.gov.uk">cashiering@bathnes.gov.uk</a>.</p>
  </div>




<h3 class="govuk-heading-m">By phone</h3>
<p class="govuk-body">Call the automated payments line on 0845 6035058, available 24 hours a day, seven days a week. Payments can only be made by all major credit and debit cards.</p>
<h3 class="govuk-heading-m">In person at Council Offices</h3>
<p class="govuk-body">Payments can be made at One Stop Shops in Bath, Keynsham and Midsomer Norton.</p>
<p class="govuk-body">Self-service payment kiosks are available for cash, debit and credit card payments. These machines are unable to accept £50 notes.</p>
<p class="govuk-body">You'll need to have your account / reference / invoice number with you.</p>
<p class="govuk-body">Automatic receipts are provided for payments.</p>

<h3 class="govuk-heading-m">At your local Post Office:</h2>
<p class="govuk-body">If you have a plastic payment card you can pay your Council Tax at your local Post Office. You must always allow for at least 7 days for the payments to reach your Council Tax account. All cheques should be made payable to “Post Office Ltd”. Please keep your receipt as this is your proof of payment. </p>

<p class="govuk-body">To request a Post Office payment card, please email your full name, address and Council Tax account number to <a href="mailto:counciltax@bathnes.gov.uk">counciltax@bathnes.gov.uk</a>. Payment cards usually arrive within 2-3 weeks from receipt of your request.</p>

<h3 class="govuk-heading-m">Pay by post</h3>

<p class="govuk-body">Please make cheques payable to Bath &amp; North East Somerset Council. Write your name, address and account / reference number on the back of your cheque and send it to the address given on your bill or invoice. </p><div class="panel panel-border-wide">
<p class="govuk-body">We cannot accept post-dated cheques and we do not send receipts for cheque payments.</p>

<p class="govuk-body">It can take several days to process cheques, so allow plenty of time for your payment to be credited to your account.</p></div>

  </div>


  <div class="govuk-grid-column-one-third">
    <div class="aside-container">
      <aside class="aside" role="complementary">
        <h2 class="govuk-heading-m">Related links</h2>

        <nav class="aside__nav" role="navigation">
          <ul>
            <li><a href="#">Pay your council tax</a></li>
            <li><a href="#">Council Tax bands and amounts</a></li>
            <li><a href="">Discounts & Exemptions</a></li>
            <li><a href="">Change of Address</a></li>
            <li><a href="">Information for students</a></li>
            <li><a href="">Problems paying your Council Tax?</a></li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
</div>
