---
notes: |
---

<div class="hero hero--image" style="background-image: url(/assets/toolkit/images/hero-placeholder.jpg);">
    <div class="hero__caption">
            <h1 class="hero__heading">Car Servicing Repairs and MOT's</h1>
            <div class="hero__description">
                    <h2 class="govuk-heading-l">Call us on 01225 477 314 or 
                        </h2>
                <a href="" class="govuk-button govuk-button--start">Request an MOT test online</a>
                
        </div>
    </div>
</div>
