---
notes: |
---
<div class="hero_home hero_home--image" style="background-image: url(/assets/toolkit/images/hero-placeholder1.jpg); z-index="-1";>
	
	<div class="home-inner">
		<div class="govuk-width-container">
			<div class="flex-container">
				<div class="govuk-grid-column flex-item breakout-box breakout-box-alt-primary" style="margin-right: 12px">
					<div class="hero__description">
						<h2 class="hero__heading">How can we help you?</h2> 
						<p class="govuk-body-l">Search for information and services from your council</p>
						<form id="search" class="site-search" action="" method="">
							<label class="form-label visually-hidden" for="search-site">Search across the site</label>
							<input style="width: 80%" class="govuk-input" id="search-site" type="text" name="search-site" placeholder="Search bathnes.gov.uk">
							<input class="govuk-button" type="submit" value="Search">
						</form>
					</div>
				</div>

				<div class="govuk-grid-column-one-third flex-item breakout-box breakout-box-alt-primary" style>
					<h4 class="govuk-heading-s" style="margin-top: 0">Popular tasks</h4> 
					<p><a class="govuk-button button-home" href="../payforit/paying-your-council-tax.html">Pay your council tax online</a></p>
					<p><a class="govuk-button button-home" href-="">Check bin collection times</a></p>
					<p><a class="govuk-button button-home" href="https://sketch.cloud/s/Anqvz/all/page-1/application-1/play" target="_blank">View planning applications</a></p>
					<p><a class="govuk-button button-home" href-="">Find a recycling centre</a></p>

				</div>
			</div>
		</div>
	</div>
</div>
<div class="container sub-hero">	
	<div class="breakout-box breakout-box-alt-primary breakout-box-alt-primary-home">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-third">
				<h2 class="govuk-heading-l">Report</h2>
				<ul class="govuk-list">
					<li><a href="">Problem with a road or pavement</a></li>
					<li><a href="">Missed bin collection</a></li>
					<li><a href="">Missed recycling collection</a></li>
					<li><a class="bold" aria-label="View more: Report it" href="http://www.bathnes.gov.uk/reportit">View all</a></li>
				</ul>
			</div>
			<div class="govuk-grid-column-one-third">
				<h2 class="govuk-heading-l">Apply</h2>
				<ul class="govuk-list">
					<li><a href="">School places</a></li>  
					<li><a href="">Residents Discovery card</a></li>  
				</ul>
			</div>
			<div class="govuk-grid-column-one-third">
				<h2 class="govuk-heading-l">Pay</h2>
				<ul class="govuk-list">
					<li><a href="/parking-travel/pay-parking-fine.html">Parking fine</a></li>  
					<li><a href="../payforit/paying-your-council-tax.html">Council tax</a></li>  
					<li><a href="">Garden waste bin</a></li>  
					<li><a class="bold"  aria-label="View more: Pay for it"  href="../payforit/pay-for-it.html">View all</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>