---
notes: |
---

<div class="hero hero_policy">
    <div class="govuk-width-container">

        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Home</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Passports, travel and living abroad</a>
              </li>
              <li class="govuk-breadcrumbs__list-item" aria-current="page">Travel abroad</li>
            </ol>
          </div>
        <h1 class="govuk-heading-xl">Documents, Policies and Strategies</h1>
        <p class="govuk-body-l">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate tempora similique temporibus, sit amet magni dolore nisi provident iure architecto sapiente</p>

        <form id="flex" class="search-policy" action="" method="">
                <div class="govuk-form-group">
                <label class="govuk-label--s hidden" for="flex">Search for policies and strategies documents</label>
                <input class="govuk-input" id="search-site" type="text" name="search-site" placeholder="Search bathnes.gov.uk">
                <input class="govuk-button" type="submit" value="Search">
                </div>

                <div class="govuk-form-group">
                        <label class="govuk-label--s hidden" for="sort">
                          Filter by Document Type
                        </label>
                        <select class="govuk-select" id="sort" name="sort">
                          <option value="published">Strategy</option>
                          <option value="updated"> Policy</option>
                          <option value="views">Leaflets</option>
                        </select>
                      </div>


                      <div class="govuk-form-group">
                            <label class="govuk-label--s hidden" for="sort">
                              Filter by Service area
                            </label>
                            <select class="govuk-select" id="sort" name="sort">
                              <option value="published">Planning &amp; Building Control</option>
                              <option value="updated" selected>Libraries and Archivies</option>
                            </select>
                          </div>
            </form>
    </div>
</div>
