---
notes: |
---

<div class="hero hero-image-no-overlay hero-small" style="background-image: url(/assets/toolkit/images/mot-hero-image.png);">
  <div class="hero__mot govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
    
      <h1 class="govuk-heading-xl">Car servicing, repairs and MOT's</h1>
      <div class="hero__description">
              <h2 class="govuk-heading-l">Call us on 01225 477 314 or 
                  </h2>
          <a href="" class="govuk-button govuk-button--start">Request an MOT test online</a>      
      </div>
    </div>
    </div>
  </div>
</div>
