---
title: Overview | Fabricator
fabricator: true
---

<h1 class="govuk-heading-xl">BATHNES frontend toolkit</h1>

<p class="govuk-body-l">A digital toolkit for Bath and North East Somerset Council, created to enable internal and external developers to create high quality experiences more easily.</p>

<p class="govuk-body">This toolkit is a highly-modular design system for rapid web page development. It contains different materials that can be assembled into more complex page layouts. It contains real working examples, code snippets, documentation, and style guidelines.</p>

<h2 class="govuk-heading-l">Usage</h2>
<p class="govuk-body">The toolkit is based around the following elements, in order of granularity:</p>

<ul class="govuk-list govuk-list--bullet">
	<li>Styles: The core parts of the design and brand; colour, logos, layouts, typography
		Components: Groups of elements that can be used in a design</li>
		<li>Patterns: Design solutions to common problems</li>
		<li>Templates: Example page templates</li>
</ul>

<p class="govuk-body">To update or make changes run npm install in the root folder on your local machine will output changes from the src folder to the  dist folder. The dist folder can then be pushed to a live server.</p>

<h2 class="govuk-heading-l">Help</h2>
<p class="govuk-body">For help in using the toolkit please see the Documentation</p>

<p class="govuk-body">For more information, support etc. contact cis@bathnes.gov.uk</p>

<p class="govuk-body">This UI toolkit is a highly-modular design system for rapid web page development. It contains different materials that can be assembled into more complex page layouts.</p>

<p class="govuk-body">This guide contains real working examples, code snippets, documentation, and style guidelines.</p>

<h2 class="govuk-heading-l">Usage</h2>

<p class="govuk-body">Start by adding the following files to your page:</p>

<pre class="language-markup"><code class="language-markup">&lt;link rel=&quot;stylesheet&quot; href=&quot;assets/toolkit/styles/toolkit.css&quot;&gt;</code></pre>

<pre class="language-markup"><code class="language-markup">&lt;script src=&quot;assets/toolkit/scripts/toolkit.js&quot;&gt;&lt;/script&gt;</code></pre>



