<!doctype html>
<html lang="en" class="govuk-template">
<head>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

	{{#if fabricator}}<link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/fabricator/styles/f.css">{{/if}}

	<!-- toolkit styles -->
	<link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/styles/toolkit.css">
	<!-- /toolkit styles -->
<!-- fontawesome cdn -->
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<!-- /fontawesome cdn -->

</head>
<body class="govuk-template__body ">
		<script>
			document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
	
		</script>

<a href="#main-content" class="govuk-skip-link">Skip to main content</a>

	{{#if fabricator}}
		{{> f-icons}}
		{{> f-menu}}
		<div class="f-container">
			{{> f-control-bar}}
	{{/if}}

	{{> headers.standard-header}}
{{> heroes.hero-homepage}}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
{% body %}
</main>
</div>

	{{> footer}}


	{{#if fabricator}}
		</div>
	<script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/fabricator/scripts/f.js"></script>
	{{/if}}

	<!-- toolkit scripts -->
	<script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/scripts/toolkit.js"></script>
	<!-- /toolkit scripts -->

</body>
</html>
