<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Check eligibility, cost and time</h1>
        <p class="govuk-body">In this task you'll be asked between 4 and 6 questions.</p>
        <p class="govuk-body">The answers you give will show:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>if you're eligible to transport goods</li>
            <li>how much it will cost for you to apply</li>
            <li>how long the application process will take</li>
        </ul>
        <p class="govuk-body">This information will be different depending on your answers.</p>
        <a href="#" class="govuk-button">Continue to questions</a>
    </div>
</div>
