<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="#">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="#">Parking &amp; Travel</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">Community Transport Bath Dial-a-Ride</li>
                </ol>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Bath Dial-a-Ride</h1>

    </div>
</div>  

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <p>Dial-a-Ride is a door-to-door, fully accessible minibus service for those who cannot use conventional public transport. Covering 3 areas within Bath and North East Somerset, you can use this service to go shopping, attend appointments and play an active part in community life.
        If you live within the 3 areas served by Dial-a-Ride and the Hopper service, and you cannot use conventional public transport, you should be eligible to register for this service.</p>
        
        <p>For further information, please contact the co-ordinator of the relevant service.
        Please note that:</p>
        
        <ul class="govuk-list govuk-list--bullet">
        <li>we operate on a first come first served basis</li>
        <li>we may ask you to alter your desired journey times slightly</li>
        <li>we reserve the right to refuse or defer an application for registration, to ask for additional information in support of an application or to cancel any existing registration</li>
        <li>all wheelchairs must be risk assessed by us before we can transport you</li>
      </ul>
        
        
        
        <h2 class="govuk-heading-l">Registration</h2>
         <p>You must register before you can book any journeys. </p> 
        <p>To register, please print and complete the registration form and return it to the address on the form or contact the co-ordinator on 01225 335 019.</p>
        
        <h2 class="govuk-heading-l">Area covered</h2> 
        <p>This service covers the area within the Bath city boundaries. There is a map showing the full extent of the service area in the information leaflet.</p>
        
        <h2 class="govuk-heading-l">Service times</h2>
        <p>There are 2 buses working constantly within the service hours. The service operates between 9.30am and 2.30pm from Monday to Friday, excluding bank holidays.</p>
        
        <h2 class="govuk-heading-l">Cost</h2>
       <p> Return journey: £6.00</p>
       <p> Single journey: £3.00</p>
       <p> Diamond Travelcard holders are entitled to a 50% discount.</p>
        
       <h2 class="govuk-heading-l">Booking</h2> 
        <p>To book a journey, call the co-ordinator on 01225 335 019.</p>
        <p>Journeys can be booked a maximum of 7 days in advance.</p>
        <p>All bookings must be made by midday on the day before the journey.</p>
        <p>Don’t forget to book your return journey, if needed.</p>
        <p>Please be ready 10 minutes before your journey time.</p>
        
        


    </div>


    <div class="govuk-grid-column-one-third">
            <div class="aside-container">
                <aside class="aside" role="complementary">

                             
                </aside>
            </div>
        </div>
    
 
</div>
