<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="#">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="#">Parking &amp; Travel</a>
                </li>
                <li class="govuk-breadcrumbs__list-item" aria-current="page">Community Transport Keynsham Dial-a-Ride</li>
                </ol>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Keynsham and District Dial-a-Ride</h1>

    </div>
</div>  

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            
            <h2 class="govuk-heading-l">Registration</h2>
            <p class="govuk-body-l">You must register before you can book any journeys.</p>  
            <p> To register, please print and complete the <a href="#">registration form </a> and return it to the address on the form. Alternatively, contact the co-ordinator on 01225 395 321.</p>
            
            <h2 class="govuk-heading-l">Area covered</h2>
            <p>The following locations are covered: </p> 

            <ul class="govuk-list govuk-list--bullet">
                <li>Keynsham</li>
                <li>Saltford</li>
                <li>Whitchurch Village</li>
                <li>Pensford</li>
                <li>Publow</li>
                <li>Compton Dando</li>
                <li>Chewton Keynsham</li>
                <li>Marksbury</li>
                <li>Farmborough</li>
                <li>Timsbury</li>
                <li>Burnett</li>
                <li>Newton St Loe</li>
                <li>Corston</li>
            </ul>
            <p>Further details can be found in the information leaflet.</p>
            
            <h2 class="govuk-heading-l">Service times</h2>
            
            <p>Keynsham: 9am to 4pm from Monday to Friday.</p> 
            <p>Village service: 9am to 4.45pm from Monday to Thursday and 9am to 4.30pm on Fridays, excluding bank holidays.</p> 
            <p>All journeys and times are subject to demand.</p> 
            
            <h2 class="govuk-heading-l">Cost</h2>
            <p>Keynsham and Saltford: £4.00 return</p> 
            <p>Village service: £5.00 return</p> 
            <p><strong>Diamond Travelcard holders are entitled to a 50% discount.</strong> </p> 
            
            <h2 class="govuk-heading-l">Booking</h2>
            <p> Keynsham and Saltford: Call 01225 395 321 between 9.30am to 11am on the day before transport is required.</p>
            
        
</div>

    <div class="govuk-grid-column-one-third">
            <div class="aside-container">
                <aside class="aside" role="complementary">
                    <ul class="govuk-list">
                        <h2 class="govuk-heading-s">Related Information</h2>
                        <li><a href="#">Registration form</a> </li>
                        <li><a href="#">Keynsham Dial-a-Ride Website</a></li>
                        <li><a href="#">Follow Keynsham Dial-a-Ride on Facebook </a></li>
                    </ul>
                    
                    
                    

                             
                </aside>
            </div>
        </div>
    
 
</div>
