<div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-breadcrumbs">
                    <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="#">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="#">Parking &amp; Travel</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item" aria-current="page">Fare car</li>
                    </ol>
            </div>
        </div>
    </div>

      <h1 class="govuk-heading-xl">Fare Car</h1>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        
        
        <p class="govuk-body-l">Fare Car is a public transport service providing a safe and friendly shared taxi service to and from Bath city centre at subsidised rates to everyone who lives in the following areas:</p>

<ul class="govuk-list govuk-list--bullet">
    <li><strong>Langridge &amp; Northend</strong></li>
    <li><strong>Combe Hay, Shoscombe, South Stoke &amp; Wellow</strong></li>
</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<h2 class="govuk-heading-l">Registration</h2>
<p>If this is the first time you’re using Fare Car, you need to register for your free Fare Car membership number. Just call 01225 477615 and give your name, address and telephone number. </p>

<h2 class="govuk-heading-l">Booking </h2>
<p>You need to book in advance. For journeys into Bath, please book at least 90 minutes before the scheduled time of arrival in Bath. For journeys back from Bath, please book at least 30 minutes before the time of departure. </p>

<h3 class="govuk-heading-m">Before you book, you’ll need: </h3>

<ul class="govuk-list govuk-list--bullet">
    <li>Fare Car membership number for each person wishing to travel</li>
    <li>Day/date and time you wish to travel</li>
    <li>Pick up location</li>
    <li>Drop off location</li>
    <li>Details of the homeward journey, if required</li>
</ul>

<p>To make a booking, phone Bath Taxis on 01225 447777 between 8am and 4pm Monday to Friday. Note there is a free phone direct to Bath Taxis in the Marks &amp; Spencer Foodhall.  </p>

<div class="breakout-box">

        <p> <strong>   
            Remember to mention if you’re a wheelchair user.
        </strong>
        </p>

    </div>


<h2 class="govuk-heading-l">Service times </h2>

<h3 class="govuk-heading-m">Langridge & Northend</h3>
<p>Wednesdays and Fridays (not public holidays).
    </p>

<table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Arrives in Bath <br>
                    (Henry Street and Milsom Street)</th>
            <td class="govuk-table__cell ">10.30am <br>
                    (book by 9am)</td>
                    <td class="govuk-table__cell ">10.30am <br>
                            (book by 9am)</td>
          </tr>
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Departs from Bath<br>
                    (Henry Street and Upper Borough Walls)</th>
            <td class="govuk-table__cell ">12.30pm <br>
                    (book by 12pm) </td>
                    <td class="govuk-table__cell ">10.30am <br>
                            (book by 9am)</td>
          </tr>
         
        </tbody>
      </table>

      <h3 class="govuk-heading-m">Combe Hay, Shoscombe, South Stoke &amp; Wellow</h3>

<p>Mondays, Tuesdays, Thursdays and Fridays (not public holidays).</p>  


      <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Arrives in Bath<br> 
                        (Henry Street and Milsom Street)</th>
                <td class="govuk-table__cell ">10.30am <br>
                        (book by 9am)</td>
                        <td class="govuk-table__cell ">10.30am <br>
                                (book by 9am)</td>
              </tr>
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Departs from Bath<br>
                        (Henry Street and Upper Borough Walls)</th>
                <td class="govuk-table__cell ">12.30pm <br>
                        (book by 12pm) </td>
                        <td class="govuk-table__cell ">10.30am <br>
                                (book by 9am)</td>
              </tr>
             
            </tbody>
          </table>




<h2 class="govuk-heading-l">Cost</h2>
<p>The fare is £1.50 per person per single trip. This is a subsidised fare and there are no further reductions for Diamond Travelcard holders or children.</p>



    </div>

    <div class="govuk-grid-column-one-third">
            <div class="aside-container">
                <aside class="aside" role="complementary">
                    <ul class="govuk-list">
                        <h2 class="govuk-heading-s">Related Information</h2>
                        <li><a href="#">Community Transport</a> </li>
                        <li><a href="#">Shopmobility</a> </li>
                    </ul>
                    
                    
                    

                             
                </aside>
            </div>
        </div>

</div>
