---
layout: default
Title: Check eligibility for residents parking
Breadcrumb1_title: Parking & Travel
Breadcrumb1_url: section-parking.html
Breadcrumb2_title: Residents parking permits
Breadcrumb2_url: section-residents-parking-permits.html
---

<div class="govuk-grid-row">

<div class="govuk-column-full">

     {{> breadcrumb.lv-three-breadcrumb}}

<h1 class="govuk-heading-xl">{{ Title }}</h1>

<p class="govuk-body">Find out the residents parking zone and permit costs (including visitor permits) for a property in Bath or Keynsham.</p>


	<form action="find-parking-zone3.html">

	<label class="govuk-label">Post code</label>
	<p class="govuk-body"><strong>BA1 4JD</strong> (<a href="find-parking-zone.html">change</a>)</p>

	<div class="govuk-form-group">
		<label class="govuk-label" for="street">Address</label>
		<select class="govuk-select banes-shrink-to-contents" id="street">
		<option value="">Please choose...</option>
		<option value="http://www.google.com">1, The Meadows, Bath, BA1 4JD</option>
		</select>
	</div>

	<input type="submit" class="govuk-button" value="Continue" />

	</form>

</div>

</div>
