---
Title: Check eligibility for residents parking
parent_url: section-parking.html
Parent: Parking & Travel

---


<div class="govuk-grid-row">

<div class="govuk-column-full">

{{> breadcrumb }}

<h1 class="govuk-heading-xl">Check eligibility for residents parking</h1>

<p class="govuk-body">Find out the residents parking zone and permit costs (including visitor permits) for a property in Bath or Keynsham.</p>


	<form action="find-parking-zone3a.html">

	<label class="govuk-label">Post code</label>
	<p class="govuk-body"><strong>BA2 4LA</strong> (<a href="find-parking-zone.html">change</a>)</p>

	<div class="govuk-form-group">
		<label class="govuk-label" for="street">Address</label>
		<select class="govuk-select banes-shrink-to-contents" id="street">
		<option value="">Please choose...</option>
		<option value="http://www.google.com">7, Sussex Place, Bath</option>
		</select>
	</div>

	<input type="submit" class="govuk-button" value="Continue" />

	</form>

</div>

</div>
