---
layout: home
---

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
       <div class="views-listing-wrapper">
           <h2 class="govuk-heading-l">
            <a class="govuk-link" href="#">Local Plan 2016 to 2036</a>
           </h2>
           <p class="govuk-body">
               <span><i class="fa fa-calendar" aria-hidden="true"></i> Date last updated: 28/9/18</span>
               <span><i class="fa fa-file" aria-hidden="true"></i> File type: Strategy</span>
               <span><i class="fa fa-tag" aria-hidden="true"></i>
                Posted in: Planning and Policy</span>

           </p>
           <p class="govuk-body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores modi dolor alias perferendis porro. Assumenda quis quibusdam sequi deserunt consequuntur repellendus cum facere. Vitae fugiat assumenda, nisi ipsum quasi architecto.</p>
       </div>   

       <div class="views-listing-wrapper">
            <h2 class="govuk-heading-l">
             <a class="govuk-link" href="#">Local Plan 2016 to 2036</a>
            </h2>
            <p class="govuk-body">
                <span><i class="fa fa-calendar" aria-hidden="true"></i> Date last updated: 28/9/18</span>
                <span><i class="fa fa-file" aria-hidden="true"></i> File type: Strategy</span>
                <span><i class="fa fa-tag" aria-hidden="true"></i>
                 Posted in: Planning and Policy</span>
 
            </p>
            <p class="govuk-body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores modi dolor alias perferendis porro. Assumenda quis quibusdam sequi deserunt consequuntur repellendus cum facere. Vitae fugiat assumenda, nisi ipsum quasi architecto.</p>
        </div>   

        <div class="views-listing-wrapper">
                <h2 class="govuk-heading-l">
                 <a class="govuk-link" href="#">Balancing your needs - a parking strategy for Bath &amp; North East Somerset</a>
                </h2>
                <p class="govuk-body">
                    <span><i class="fa fa-calendar" aria-hidden="true"></i> Date last updated: 28/9/18</span>
                    <span><i class="fa fa-file" aria-hidden="true"></i> File type: Strategy</span>
                    <span><i class="fa fa-tag" aria-hidden="true"></i>
                     Posted in: Planning and Policy</span>
     
                </p>
                <p class="govuk-body">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores modi dolor alias perferendis porro. Assumenda quis quibusdam sequi deserunt consequuntur repellendus cum facere. Vitae fugiat assumenda, nisi ipsum quasi architecto.</p>
            </div>   


    </div>
   
</div>
