---
layout: home
---

<div class="section">
    <h2 class="govuk-heading-l">Our services</h2>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <div class="service">
                <h4 class="heading-small"><a href="">Bins, recycling &amp; rubbish</a></h4>
            </div>
        </div>

        <div class="govuk-grid-column-one-quarter">
            <div class="service">
                <h4 class="heading-small"><a href="../parking-travel/section-parking.html">Parking &amp; Travel</a></h4>
            </div>
        </div>

        <div class="govuk-grid-column-one-quarter">
            <div class="service">
                <h4 class="heading-small"><a href="section-planning.html">Planning &amp; Building Control</a></h4>
            </div>
        </div>

        <div class="govuk-grid-column-one-quarter">
            <div class="service">
                <h4 class="heading-small"><a href="">Street care & cleaning</a></h4>
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <div class="service">
                <h4 class="heading-small"><a href="">Schools</a></h4>
            </div>
        </div>

        <div class="govuk-grid-column-one-quarter">
            <div class="service">
                <h4 class="heading-small"><a href="section-libraries.html">Libraries &amp; Archives </a></h4>
            </div>

        </div>
        <div class="govuk-grid-column-one-quarter">
            <div class="service">
                <h4 class="heading-small"><a href="">Your council</a></h4>
            </div>
        </div>

        <div class="govuk-grid-column-one-quarter">
            <div class="service">
                <h4 class="heading-small"><a href="">Tourism, heritage, sport &amp; Leisure</a></h4>
            </div>
        </div>
    </div> 

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <div class="service">
                <h4 class="heading-small"><a href="">Environment</a></h4>
            </div>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <div class="service">
                <h4 class="heading-small"><a href="">Children</a></h4>
            </div>
        </div>

        <div class="govuk-grid-column-one-quarter">
            <div class="service">
                <h4 class="heading-small"><a href="">Business</a></h4>
            </div>
        </div>

        <div class="govuk-grid-column-one-quarter">
            <div class="service">
                <h4 class="heading-small"><a href="">Births, marriages &amp; deaths</a></h4>
            </div>
        </div>
    </div> 


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <div class="service">
                <h4 class="heading-small"><a href="">Housing</a></h4>
            </div>
        </div>

        <div class="govuk-grid-column-one-quarter">
            <div class="service">
                <h4 class="heading-small"><a href="parking.html">Tourism, heritage, sport &amp; Leisure</a></h4>
            </div>
        </div>

        <div class="govuk-grid-column-one-quarter">
            <div class="service">
                <h4 class="heading-small"><a href="section2.html">Care and support</a></h4>
            </div>
        </div>
    </div> 
</div>
