<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">Payment successful</h1>
            <div class="govuk-panel__body">
                Thank you. Your payment for <strong class="bold">&pound;30.00</strong> has been accepted.</br>
            We have emailed you a recipt to email@emailaddress.com
        </div>
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="panel">
            <p class="govuk-body">To print this page, click the print button</p>
            <a href="#" class="govuk-button">Print page</a>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="panel">
            <p class="govuk-body">To display a VAT receipt, click the VAT button</p>
            <a href="#" class="govuk-button">VAT receipt</a>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="panel">
            <p class="govuk-body">To finish this payment, and start another task, click Finish</p>
            <a href="#" class="govuk-button button--secondary">Finish</a>
        </div>
    </div>
</div>

<div class="govuk-section-break govuk-section-break--visible govuk-section-break--xl"></div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-l">Recipt Details</h2>
        </div>
        <div class="govuk-grid-column-one-half">
            <ul class="govuk-list">
                <li>Card type: VISA DELTA</li>
                <li>Card number: ************0000</li>
                </br>
                <li>Date: 29/11/2017</li>
                <li>Time: 20:14:04</li>
                </br>
                <li>Joe Bloggs</li>
                <li>123 Street Name</li>
                <li>Town</li>
                <li>City</li>
                <li>Postcode</li>
            </ul>
        </div>
        <div class="govuk-grid-column-one-half">
            <ul class="govuk-list">
                <li>Recipt Number: ADBN00046603</li>
                <li>Authorisation code: 156454</li>
                <li>Merchant Number: ***56914</li>
                <li>Terminal: ****8921</li>
            </ul>
        </div>



        <div class="govuk-grid-column-full">
            <p class="govuk-body">The following payments have been made</p>
        
        
        <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Fund</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">Payment Method</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">	Amount (£)</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">	Charge (£)</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">	VAT</th>
      <th class="govuk-table__header govuk-table__header--numeric" scope="col">	Reference</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Parking Tickets</th>
      <td class="govuk-table__cell govuk-table__cell--numeric">Debit Card</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£30.00</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td> 
      <td class="govuk-table__cell govuk-table__cell--numeric">0.00</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">BN1587564</td>
    </tr>

    <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">Total Amount</th>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">£30.00</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td> 
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
            <td class="govuk-table__cell govuk-table__cell--numeric"></td>
          </tr>

  
  </tbody>
</table>

        </div>
    </div>
</div>
