---
layout: policy-strategies
---
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
            <div class="view-wrapper">
                
                <h3 class="govuk-heading-m">
                        <a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
                </h3>
            
                <p class="govuk-body-s">
                <span><strong> <i class="fa fa-calendar" aria-hidden="true"></i>
                     Date Published: </strong> 22nd Dec 2018</span>
                <span><strong><i class="fa fa-file-text-o" aria-hidden="true"></i> Document Type: </strong> Strategy</span>
                <span><strong><i class="fa fa-tags" aria-hidden="true"></i>
                     Posted in: </strong> Planning and Building Control</span>
                </p>

                <p class="govuk-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi doloribus eum consequatur atque vitae. Accusantium, nobis id? Voluptates porro tenetur dolores, iure ipsum minima, voluptatibus et, architecto omnis cumque corrupti?</p>
            </div>

            <div class="view-wrapper">
                    <h3 class="govuk-heading-m">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </h1>
                    <p class="govuk-body-s">
                    <span><strong>Date Published: </strong> 22nd Dec 2018</span>
                    <span><strong>Document Type: </strong> Strategy</span>
                    <span><strong>Posted in: </strong> Planning and Building Control</span>
                    </p>
    
                    <p class="govuk-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi doloribus eum consequatur atque vitae. Accusantium, nobis id? Voluptates porro tenetur dolores, iure ipsum minima, voluptatibus et, architecto omnis cumque corrupti?</p>
                </div>

                <div class="view-wrapper">
                        <h3 class="govuk-heading-m">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </h1>
                        <p class="govuk-body">
                        <span><strong>Date Published: </strong> 22nd Dec 2018</span>
                        <span><strong>Document Type: </strong> Strategy</span>
                        <span><strong>Posted in: </strong> Planning and Building Control</span>
                        </p>
        
                        <p class="govuk-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi doloribus eum consequatur atque vitae. Accusantium, nobis id? Voluptates porro tenetur dolores, iure ipsum minima, voluptatibus et, architecto omnis cumque corrupti?</p>
                    </div>

                
                    <div class="view-wrapper">
                            <h3 class="govuk-heading-m">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            </h1>
                            <p class="govuk-body">
                            <span><strong>Date Published: </strong> 22nd Dec 2018</span>
                            <span><strong>Document Type: </strong> Strategy</span>
                            <span><strong>Posted in: </strong> Planning and Building Control</span>
                            </p>
            
                            <p class="govuk-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi doloribus eum consequatur atque vitae. Accusantium, nobis id? Voluptates porro tenetur dolores, iure ipsum minima, voluptatibus et, architecto omnis cumque corrupti?</p>
                        </div>


                        <div class="view-wrapper">
                                <h3 class="govuk-heading-m">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </h1>
                                <p class="govuk-body">
                                <span><strong>Date Published: </strong> 22nd Dec 2018</span>
                                <span><strong>Document Type: </strong> Strategy</span>
                                <span><strong>Posted in: </strong> Planning and Building Control</span>
                                </p>
                
                                <p class="govuk-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi doloribus eum consequatur atque vitae. Accusantium, nobis id? Voluptates porro tenetur dolores, iure ipsum minima, voluptatibus et, architecto omnis cumque corrupti?</p>
                            </div>



                            <div class="view-wrapper">
                                    <h3 class="govuk-heading-m">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    </h1>
                                    <p class="govuk-body">
                                    <span><strong>Date Published: </strong> 22nd Dec 2018</span>
                                    <span><strong>Document Type: </strong> Strategy</span>
                                    <span><strong>Posted in: </strong> Planning and Building Control</span>
                                    </p>
                    
                                    <p class="govuk-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi doloribus eum consequatur atque vitae. Accusantium, nobis id? Voluptates porro tenetur dolores, iure ipsum minima, voluptatibus et, architecto omnis cumque corrupti?</p>
                                </div>
    </div>  

</div>
